{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	<link rel="stylesheet" href="home.css">
{% endblock %}

{% block content %}
	

	<main>
		
		<section class="banner">
			<div class="highlight">
			
					<div class="highlight-item">
						    <br>&emsp;&emsp;อาหารคลีน คือ 
							<br>
							<br>&emsp;&emsp;อาหารที่ไม่ผ่านการปรุงแต่งด้วยสารเคมีต่าง ๆ 
							<br>&emsp;&emsp;หรือผ่านการแปรรูปน้อยที่สุดนั่นเอง 
							<br>&emsp;&emsp;อาหารเหล่านี้จะเป็นอาหารที่สดสะอาดไม่ผ่าน
							<br>&emsp;&emsp;กระบวนการหมักดองหรือปรุงรสใด ๆ มากจนเกินไป 
							<br>&emsp;&emsp;เช่น เค็มจัดหรือหวานจัด เป็นต้น 
							<br>
          					<br>&emsp;&emsp;อย่างอาหารประเภทอาหารสำเร็จรูปที่แช่ตู้เย็น
          					<br>&emsp;&emsp;นั่นคือตรงข้ามเลย เพราะอาหารเหล่านี้มักใส่สาร
          					<br>&emsp;&emsp;กันเสียเข้าไปด้วยเพื่อให้สามารถเก็บได้นานขึ้น 
          					<br>&emsp;&emsp;หรือขนมขบเคี้ยวที่ก็จะมีแต่แป้งและผงชูรส 
          					<br>&emsp;&emsp;และยังเต็มไปด้วยโซเดียมกับน้ำมัน น้ำอัดลม
          					<br>&emsp;&emsp;หลากสีหลากกลิ่นทั้งหลาย รวมทั้งอาหารขยะอย่าง
          					<br>&emsp;&emsp;เบอร์เกอร์ เฟรนช์ฟราย ไก่ชุบแป้งทอดก็ด้วย
          					<br>
          					<br>&emsp;&emsp;การปรุงอาหารแบบคลีนไม่ใช่การเน้นทานผักเยอะ ๆ 
          					<br>&emsp;&emsp;แต่เป็นการทานอาหารทุกหมู่อย่างในสัดส่วนที่
          					<br>&emsp;&emsp;เหมาะสม คือต้องมีทั้งคาร์โบไฮเดรตและโปรตีน
          					<br>&emsp;&emsp;ในปริมาณที่เพียงพอต่อความต้องการของร่างกาย 
          					<br>&emsp;&emsp;เนื้อสัตว์ที่ใช้ควรเลือกแบบที่ไม่ใช่สำเร็จรูป
          					<br>&emsp;&emsp;หรือผ่านการปรุงรสมาแล้ว		
					</div>
				</div>
			</div>

			

					</div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}