{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	<link rel="stylesheet" href="menu.css">
{% endblock %}

{% block content %}


	<main>

		<section class="section food Pic">
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<center><a href="#">FOOD</a></center>
					</div>
					<div class="column has-text-centered">
						<a href="#">DRINK</a>
					</div>
					<div class="column has-text-right">
						<center><a href="#">DESSERT</a></center>
					</div>

				</div>
					<div class="columns is-multiline">
						<a href="#" class="column is-one-third">
							<div class="card">
								<div class="card-image">
									<figure ><center>
										<img src="/assets/img/menu/joseph-gonzalez-99034.jpg" alt="image-1" width="187" height="175">

										<img src="/assets/img/menu/alison-marras-323017.jpg" alt="image-2" width="153" height="145"> 
									</figure></center>
									<figure>
										<img src="/assets/img/menu/toa-heftiba-84804.jpg" alt="image-3" width="400" height="auto"> 
									</figure>
									<figure >
										<img src="/assets/img/menu/brooke-lark-176364.jpg" alt="image-4" width="180" height="auto"> 

										<img src="/assets/img/menu/cala-150730.jpg" alt="image-5" width="180" height="auto"> 
									</figure>
									<p><center>All</center></p>
								</div>
							</div>
						</a>

						<a href="#" class="column is-one-third">
							<div class="card">
								<div class="card-image">
									<figure>
										<img src="/assets/img/menu/neven-krcmarek-330545.jpg" alt="image-6" width="180" height="auto"> 

										<img src="/assets/img/menu/alexandra-gorn-336249.jpg" alt="image-7" width="180" height="auto"> 
									</figure>
									<figure>
										<img src="/assets/img/menu/milo-mcdowell-2198.jpg" alt="image-8" width="400" height="auto"> 
									</figure>
									<figure>
										<img src="/assets/img/menu/suhyeon-choi-193186.jpg" alt="image-9" width="180" height="auto"> 

										<img src="/assets/img/menu/joanna-kosinska-288958.jpg" alt="image-10" width="180" height="auto"> 
									</figure>
									<p><center>All</center></p>
								</div>
							</div>
						</a>

						<a href="#" class="column is-one-third">
							<div class="card">
								<div class="card-image">
									<figure>
										<img src="/assets/img/menu/alexandra-gorn-260985.jpg" alt="image-11" width="180" height="auto"> 

										<img src="/assets/img/menu/timothy-lamm-196281.jpg" alt="image-12" width="180" height="auto"> 
									</figure>
									<figure>
										<img src="/assets/img/menu/brooke-lark-230642.jpg" alt="image-13" width="400" height="50"> 
									</figure>

									<p><center>All</center></p>
								</div>
							</div>
						</a>
					
								
				</div>
			</div>
		</section>
	</main>



{% endblock %}