{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
<section class="section we-present">
        <div class="is-size-1">
        <div class="column has-text-centered">
          NEWS
        </div>
      </div>

      <div class="columns is-multiline">

        <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/news/Screenshot_1.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <div class="is-size-4">
              8 เทรนด์อาหารคลีนปี 2560 ที่ควรรู้
            </div>
            </div>
          </div>
        </div>
      </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/news/Screenshot_2.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              อาหารคลีนคุมน้ำหนัก

            </h5>
            </div>
          </div>
        </div>
        </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/news/Screenshot_3.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              หุ่นดีสวยขึ้นเป็นกอง! สาวอ้วนลดน้ำหนัก 
6 เดือน ลง 30 กก. เคล็ดลับคืออะไร
            </h5>
            </div>
          </div>
        </div>
        </a>


         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/news/Screenshot_4.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              ชี้ “ชาบู” เป็นอาหารสุดฮิตที่คนโซเชียล
อยากกิน ขณะที่อาหาร “คลีน” ตกกระแสไป
            </h5>
            </div>
          </div>
        </div>
        </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/news/Screenshot_5.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h3 class="category">
              กินอย่างแชมป์ “เบรดี” คลอดเมนูอาหาร
คลีน เสิร์ฟถึงบ้านแค่ 13 เหรียญต่อมื้อ
            </h3>
            </div>
          </div>
        </div>
        </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/news/Screenshot_6.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              โค้กเพื่อสุขภาพ ปรับตัวรับกระแสคลีน
            </h5>
            </div>
          </div>
        </div>
        </a>

      </div>
     </div>
   </section>
  </main>


{% endblock %}