{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

 <main>

<section class="section we-present">
        <div class="is-size-1">
        <div class="column has-text-centered">
          RESTAURANT
        </div>
      </div>

      <div class="columns is-multiline">
       

        <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/restaurants/Screenshot_14.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <div class="is-size-4">
              Organika
            </div>
            </div>
          </div>
        </div>
      </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                 <img src="assets/img/restaurants/Screenshot_1.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
             Veganerie Concept

            </h5>
            </div>
          </div>
        </div>
        </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/restaurants/Screenshot_5.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
            Broccoli Revolution
            </h5>
            </div>
          </div>
        </div>
        </a>


         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/restaurants/Screenshot_6.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              Farm to Table, Hideout 
            </h5>
            </div>
          </div>
        </div>
        </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/restaurants/aaa-1-2.jpg" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h3 class="category">
             Hunter Poke
            </h3>
            </div>
          </div>
        </div>
        </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                 <img src="assets/img/restaurants/Screenshot_11.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
            Brekkie
            </h5>
            </div>
          </div>
        </div>
        </a>

      </div>
     </div>
   </section>
  </main>

{% endblock %}