{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}


 <main>
<section class="section we-present">
        <div class="is-size-1">
        <div class="column has-text-centered">
          TRICK
        </div>
      </div>

      <div class="columns is-multiline">

        <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/trick/Screenshot_3.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <div class="is-size-4">
              6 เคล็ดลับกันคลีนให้ผอมและสุขภาพดี
            </div>
            </div>
          </div>
        </div>
      </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/trick/Screenshot_8.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              6 เทคนิคกันคลีนให้ถูกวิธี

            </h5>
            </div>
          </div>
        </div>
        </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/trick/brooke-lark-229136.jpg" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              8 เคล็ดลับเริ่มทานคลีน
            </h5>
            </div>
          </div>
        </div>
		</a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/trick/Screenshot_9.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              กินชะลอวัยไกลโรค ด้วยอาหารคลีน
            </h5>
            </div>
          </div>
        </div>
        </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/trick/Apple-Cheesecake-640.jpg" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h3 class="category">
              ทานคลีนใครบอกว่าแพง?! 8 เคล็ดลับดีๆในการ ‘ทานคลีน’ โดยไม่ต้องเสียค่าใช้จ่ายเยอะ!!
            </h3>
            </div>
          </div>
        </div>
        </a>

         <a href="#" class="column is-one-third">
          <div class="has-text-centered"> 
          <div class="">
            <div class="">
              <figure class="image is-3by2">
                <img src="assets/img/trick/Screenshot_3.png" alt="images-1">                
              </figure>              
            </div>
            <div class="card-content">
              <h5 class="category">
              6 เคล็ดลับกันคลีนให้ผอมและสุขภาพดี
            </h5>
            </div>
          </div>
        </div>
        </a>

        
      </div>
     </div>
   </section>
  </main>




{% endblock %}