{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
<meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"> <!--bulma web mobli-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/home.css"> 
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<style>
* {
    box-sizing: border-box;
}

body
 {
  margin: 0;
}
div.thick {
    font-weight: ;
}
div.light {
    font-weight: lighter;
}
div.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
.header {
    background-color:#F0FFF0;
    padding: 20px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 85%;
}

.right {
  width: 15%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

div.gallery {
    border: 1px solid #ffffff;
}



div.gallery:hover {
    border: 1px solid#DCDCDC;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}

/* Add padding BETWEEN each column */

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 0px;
    float: left;
    width: 100%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 50px 10;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

p {
    border-bottom: 4px solid#B3EE3A;
    background-color: lightgrey;
}
.content {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 10px;
}
body {
    margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
}

.left  {
  width: 82%;
}

.right {
  width: 18%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* เลื่อนขึ้นข้างบน */

#myBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#9ACD32;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  
}

#myBtn:hover {
  background-color: #BCEE68;
}

{% endblock %}

{% block content %}

  <main>  
<div class="row">
    <div class="column left" style="background-color:#ffffff;">



   <font face="TH SarabunPSK">
    <div class="is-size-3">

   <div class="has-text-centered ">
   <b>5 วิธีกินอาหารเพื่อผิวสวยใสจากภายใน</b></div>

 <br>
 <div class="has-text-centered"> 
    <img src="assets/img/trick/8.0.jpg" alt="" width="450" height="auto">
  </div>


<br>
<div class="is-size-4">
&emsp;&emsp;&emsp;เคล็ดลับหน้าใสหรือสูตรหน้าใสใดๆ ที่ว่าแน่ หากสาวๆ นำมาทำตาม แต่กลับพบว่าผิวหน้าก็ยังคงไม่กระจ่างใสเต็มที่หรือผิวยังมีปัญหาหมองคล้ำกันอยู่ อาจเป็นเพราะการบำรุงจากภายในยังไม่เพียงพอก็เป็นได้ วันนี้เราเลยหยิบเอา 5 วิธีดูแลผิวให้สวยใสจากภายในด้วยการกินอาหารอย่างเหมาะสมมาฝาก งานนี้ไม่ต้องง้อสูตรหน้าใสใดให้ยุ่งยากก็สามารถมีผิวหน้าสวยใสในแบบธรรมชาติง่ายๆ ได้แล้วค่ะ
<br>
<br>&emsp;&emsp;&emsp;1.กินอาหารที่มีวิตามินซี

<br>&emsp;&emsp;&emsp;เพราะอาหารที่มีวิตามินซีนอกจากจะช่วยให้ผิวผลิตคอลลาเจนและอีลาสตินได้แล้ว ยังส่งเสริมให้โครงสร้างของผิวมีความแข็งแรงยิ่งขึ้นอีกด้วย ส่งผลทำให้ผิวพรรณขาวกระจ่างใสจากภายใน ผิวจะกระชับยืดหยุ่นและเต่งตึงขึ้นมากทีเดียว สำหรับอาหารที่อุดมไปด้วยวิตามินซีก็ได้แก่ ผักผลไม้ต่างๆ เช่น มะนาว ส้ม มะเขือเทศ ผักใบเขียว ยอดผักหวาน พริกและดอกแค เป็นต้น หรือหากสาวๆ คนไหนไม่มีเวลาคัดสรรอาหารที่มีวิตามินซีจะหันมากินวิตามินซีรูปแบบเม็ดแทนก็ได้เช่นกัน


<br>
 <br>
 <div class="has-text-centered"> 
    <img src="assets/img/trick/8.1.jpg" alt="" width="450" height="auto">
  </div>

<br>&emsp;&emsp;&emsp;2.กินอาหารที่มีโปรตีนให้มากขึ้น
<br>&emsp;&emsp;&emsp;นอกจากอาหารที่อุดมไปด้วยวิตามินซีแล้ว การกินอาหารที่มีโปรตีนก็สามารถช่วยเสริมสร้างเซลล์ได้เป็นอย่างดี จึงส่งผลให้ผิวสุขภาพดีจากภายใน และสำหรับอาหารที่อุดมไปด้วยโปรตีนสูงได้แก่ ปลา เนื้อสัตว์ต่างๆ ไข่ ผลิตภัณฑ์จากนม พืชตระกูลถั่วและเต้าหู้ เป็นต้น
<br>
<br>&emsp;&emsp;&emsp;3.กินอาหารที่มีแร่ธาตุสังกะสี
<br>&emsp;&emsp;&emsp;แร่ธาตุสังกะสีหรือซิงค์ เป็นอีกหนึ่งสารอาหารสำคัญต่อผิว เพราะมีบทบาทช่วยกระตุ้นร่างกายให้เกิดการสร้างโปรตีนออกมามากขึ้น ช่วยทั้งผลิตคอลลาเจน ซ่อมแซมเซลล์ต่างๆ ที่สึกหรอ รักษาสิว ทำให้ผิวหน้าใส ช่วยควบคุมความมันบนผิวหน้าและช่วยเสริมสร้างระบบภูมิคุ้มกันในร่างกายให้แข็งแรง สำหรับแร่ธาตุสังกะสีที่พบได้มากก็คือ อาหารประเภทปลา ถั่วเหลือง ไข่แดง หอยนางรม เห็ดและธัญพืชไม่ขัดสี เป็นต้น
<br>
 <div class="has-text-centered"> 
    <img src="assets/img/trick/8.2.jpg" alt="" width="450" height="auto">
  </div>

<br>&emsp;&emsp;&emsp; 4.ดื่มน้ำให้มากเพียงพอ
<br>&emsp;&emsp;&emsp;อยากมีผิวสวยสุขภาพดีเปล่งปลั่งจากภายในสู่ภายนอก การดื่มน้ำสะอาดนี่แหละค่ะที่จะช่วยได้เป็นอย่างมาก แถมยังทำให้ผิวพรรณนุ่มชุ่มชื้นแบบมีสุขภาพดี และห่างไกลจากริ้วรอยก่อนวัยได้อีกด้วย สาวคนไหนไม่อยากมีผิวหมองคล้ำอีกต่อไป หันมาดื่มน้ำสะอาดวันละประมาณ 2 ลิตรกันสิคะ

 <br>
<br>&emsp;&emsp;&emsp;5.บอกลาอาหารขยะทุกชนิด
<br>&emsp;&emsp;&emsp;อาหารขยะก็คือ อาหารที่กินแล้วไม่เป็นประโยชน์ต่อร่างกาย สังเกตได้ง่ายๆ ว่าอาหารเหล่านั้นจะอุดมไปด้วยแป้งขาว น้ำตาล เกลือและไขมันทรานส์ ซึ่งล้วนเป็นสิ่งที่จะกระตุ้นผิวให้หมองคล้ำได้มากยิ่งขึ้น ไม่ว่าจะเป็นบรรดาอาหารฟาสต์ฟู้ดต่างๆ ที่นอกจากทำร้ายผิวสวยให้เหี่ยวย่นและหมองคล้ำ แถมยังมีสิวง่ายแล้ว ยังนำมาสู่การเกิดโรคอ้วนและโรคร้ายอื่นๆ ได้อีกด้วย และนอกจากนี้แล้ว การสูบบุหรี่และดื่มแอลกอฮอล์ก็ควรหลีกเลี่ยงด้วยเช่นเดียวกัน

 <br><div class="has-text-centered"> 
<br>และนี่ก็คือ 5 วิธีกินอาหารเพื่อผิวสวยใสจากภายใน การดูแลผิวให้สวยกระจ่างใส
<br>ด้วยการกินอาหารอย่างเหมาะสมนั้นเราจะต้องใส่ใจกันเป็นอย่างมากนะคะ เพราะต่อให้สาวๆ 
<br>หยิบเอาสูตรหน้าใสมาปรนนิบัติผิวเป็นประจำแค่ไหน แต่หากการดูแลจากภายใน
<br>ยังคงบกพร่องอยู่ ผิวก็ย่อมหมองคล้ำง่ายเหมือนเดิมอยู่ดีนั่นเอง





</div>
</div></div>


</div>

  <div class="column right" style="background-color:#ffffff;">
    <div class=is-size-2>TRICK</div>
    <div class=is-size-5>เคล็บลับ แต่ไม่ลับ</div>
<div class="responsive">
  <div class="gallery">
    <a href="trick17">
      <img src="assets/img/trick/17.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>ปรับเปลี่ยนการกินเพื่อสุขภาพที่ดีได้ไม่ยาก</h4></div>
    
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="trick18">
      <img src="assets/img/trick/18.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>แนะนำแอพลิเคชั่น สุขภาพ ที่คุณควรมีติดมือถือ</h4></div>
    
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="trick19">
      <img src="assets/img/trick/19.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>10 ทริคเพื่อสุขภาพประจำวัน รู้ไว้ได้ใช้แน่นอน</h4></div>
   
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="trick20">
      <img src="assets/img/trick/20.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>8 วิธีทําให้อายุยืนสุขภาพดี</h4></div>
   
  </div>
</div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
  </main>


{% endblock %}