{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
 <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b>สลัดผลไม้กุ้งกรอบกับครีมสลัดผลไม้  </b>
<br>
            <div class="is-size-4">
  </div>
      </div>
  </div>
</div>
<body>





  <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">
  <img src="assets/img/FOOD/15.1.jpg"  alt="Trolltunga Norway" width="auto" height="auto">

  </div>


  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">
  ผลไม้ทุกชนิดควรหัดให้เด็กได้กิน เพราะมีวิตามินหลากหลายและยังมีใยอาหารที่ช่วยระบบขับถ่าย ถ้าเด็กไม่ชอบก็นำมาดัดแปลงทำเป็นสลัดกุ้งทอดใส่ผลไม้สด และทำน้ำสลัดมายองเนสผสมผลไม้เพิ่มรสชาติขึ้นอีก รับรองว่าเด็ก ๆ ต้องกินหมดจานแน่
 <br>

<b>ส่วนผสม สลัดผลไม้กุ้งกรอบกับครีมสลัดผลไม้ </b><br>

 <div style="text-indent: 2.5em;">  • กุ้งสดแกะเปลือกเก็บหางไว้ 6 ตัว </div>
   <div style="text-indent: 2.5em;">    • ไข่ไก่ตีพอเข้ากัน 1 ฟอง</div>
    <div style="text-indent: 2.5em;">   • แป้งสาลีอเนกประสงค์ 1/2 ถ้วย</div>
    <div style="text-indent: 2.5em;">   • เกล็ดขนมปัง 1 ถ้วย</div>
     <div style="text-indent: 2.5em;">  • น้ำมันพืชสำหรับทอด 2 ถ้วย</div>
     <div style="text-indent: 2.5em;">  • ผลไม้ตามชอบ เช่น สตรอว์เบอร์รี องุ่นไข่ปลา บลูเบอร์รี กีวี และกล้วยหอม</div>

<b> ส่วนผสม ครีมสลัดผลไม้  </b>
 <div style="text-indent: 2.5em;">  • มายองเนส 1+1/2 ถ้วย</div>
     <div style="text-indent: 2.5em;">  • สตรอว์เบอร์รีแช่แข็ง 1/2 ถ้วย</div>
     <div style="text-indent: 2.5em;">  • กีวีหั่นชิ้นเล็ก 1 ลูก</div>
     <div style="text-indent: 2.5em;">  • เนื้อส้มในน้ำเชื่อม 1/2 ถ้วย
</div>
     <b> วิธีทำสลัดผลไม้กุ้งกรอบกับครีมสลัดผลไม้ </b>
 <div style="text-indent: 2.5em;"> 
       1. เตรียมครีมสลัดผลไม้ โดยนำมายองเนส 1/2 ถ้วย มาปั่นกับสตรอว์เบอร์รีจนเป็นเนื้อเดียวกันจะได้สีแดง และนำมายองเนสที่เหลือ 1/2 ถ้วย ปั่นกับกีวีและเนื้อส้ม เตรียมไว้</div>
    <div style="text-indent: 2.5em;">   2. นำกุ้งมาคลุกแป้งสาลีบาง ๆ ชุบไข่ และคลุกเกล็ดขนมปัง ทอดในน้ำมันร้อนจนสุกกรอบ ตักขึ้น พักไว้</div>
     <div style="text-indent: 2.5em;">  3. จัดผลไม้สดใส่จาน วางกุ้งทอด ราดด้วยน้ำสลัดที่ทำไว้</div>
  </div>
</div>

   <font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="#about"><b>ไม่มีกุ้ง</b></b></a>
           <a href="#services"><b>ไม่มีถั่ว</b></a>
           <a href="#clients"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="#contact"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 


<div class="responsive">
  <div class="gallery">
    <a href="food5">
      <img src="assets/img/food/5.2.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc"><h4>สปาเกตตีผัดผักโขมมะเขือเทศ</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food6">
      <img src="assets/img/food/6.4.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดก๋วยเตี๋ยวเนยถั่ว</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food7">
      <img src="assets/img/food/7.6.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดก๋วยเตี๋ยวเวียดนาม</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food8">
      <img src="assets/img/food/8.4.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>พิซซ่าเมล็ดเจียดอกกะหล่ำ</h4></div>
 
  </div>
</div>


<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
  </main>


{% endblock %}