{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
<font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b>  พิซซ่าเมล็ดเจียดอกกะหล่ำ </b>

<br>
            <div class="is-size-4">
<b>VEGAN CAULIFLOWER PIZZA CRUST</b></div>
      </div>
  </div>
</div>
<body>





  <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="assets/img/FOOD/8.1.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/8.3.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/8.4.jpg" style="width:100%">

</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
  <img src="assets/img/FOOD/8.2.jpg"  alt="Trolltunga Norway" width="auto" height="auto">

  </div>


  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">
<b>ส่วนผสมพิซซ่าเมล็ดเจียดอกกะหล่ำ</b><br>

         <div style="text-indent: 2.5em;">  •ดอกกะหล่ำ (หั่นเป็นชิ้น ๆ) 1 ปอนด์ </div>
        <div style="text-indent: 2.5em;">   •เมล็ดเจีย 3 ช้อนโต๊ะ</div>
         <div style="text-indent: 2.5em;">  •น้ำเปล่า 6 ช้อนโต๊ะ</div>
         <div style="text-indent: 2.5em;">  •ผงอัลอนด์บด 1/2 ถ้วย</div>
         <div style="text-indent: 2.5em;">  •เกลือ 1/2 ช้อนชา</div>
         <div style="text-indent: 2.5em;">  •ผงกระเทียม 1/2 ช้อนชา</div>
         <div style="text-indent: 2.5em;">  •ออริกาโน 1/2 ช้อนชา</div>
         <div style="text-indent: 2.5em;">  •ท็อปปิ้งพิซซ่า ตามชอบ</div>   

<b> วิธีทำ </b>
         <div style="text-indent: 2.5em;">  1. เปิดเตาอบที่อุณหภูมิ 400 องศาฟาเรนไฮต์ และปูกระดาษรองอบบนถาดสำหรับอบ เตรียมไว้</div>

         <div style="text-indent: 2.5em;">  2. ปั่นดอกกะหล่ำในเครื่องบดอาหารพอหยาบ ๆ (ให้มีลักษณะเหมือนข้าว) </div>

         <div style="text-indent: 2.5em;">  3. เทส่วนผสมดอกกะหล่ำลงในหม้อ เติมน้ำเปล่าลงไปให้ท่วมส่วนผสมแล้วต้มจนเดือด จากนั้นลดไปลงต้มต่ออีกประมาฯ 5 นาที</div>

         <div style="text-indent: 2.5em;">  4. เทน้ำออกจนหมด พักไว้จนอุ่นแล้วนำไปแช่แข็งประมาณ 10 นาที </div>

         <div style="text-indent: 2.5em;">  5. ผสมเมล็ดเจียกับน้ำเข้าด้วยกันแล้ววางพักทิ้งไว้จนส่วนผสมเหนียว</div>

         <div style="text-indent: 2.5em;">  6. นำส่วนผสมดอกกะหล่ำออกจากตู้เย็น บีบน้ำออกจนแห้งแล้วใช้ผ้าซับน้ำออกจนแห้งสนิท</div>

        <div style="text-indent: 2.5em;">  7. ใส่ดอกกะหล่ำลงในอ่างผสม ตามด้วยส่วนผสมเมล็ดเจีย ผงอัลมอนด์ เกลือ ผงกระเทียม และออริกาโนแห้ง คนผสมให้เข้ากันเป็นเนื้อเดียว จากนั้นตักใส่ถาดแล้วเกลี่ยนให้เรียบ หนาประมาณ 1/4 นิ้ว</div>

         <div style="text-indent: 2.5em;">  8. นำไปอบประมาณ 30 นาที เมื่ออบครบ 15 นาทีแรกให้เปิดเตาแล้วกลับแผ่นแป้งแล้วอบต่ออีก 15 นาที อบจนเป็นสีเหลืองทองและแป้งแห้ง</div>

         <div style="text-indent: 2.5em;">  9. นำแป้งพิซซ่าออกมาท็อปด้วยเครื่องต่าง ๆ ตามชอบแล้วนำกลับเข้าไปอบอีกครั้งจนหน้าพิซซ่าสุกประมาณ 5-10 นาที (จากสูตรนี้ใช้ซอสมารินารา หอมใหญ่ย่าง ผักโขมสด และพาร์มีซานชีส)</div>

</div>
</div>
<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 


       <div class="responsive">
  <div class="gallery">
    <a href="food17">
      <img src="assets/img/food/17.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4> สลัดอกไก่สไตล์จีน</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food18">
      <img src="assets/img/food/18.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดอกไก่สไตล์ไทย</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food19">
      <img src="assets/img/food/19.2.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดอกไก่บาร์บีคิว</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food20">
      <img src="assets/img/food/20.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดแอปเปิลอกไก่</h4></div>
   
  </div>
</div>
<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

  </main>


{% endblock %}