{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
 <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b> โจ๊กข้าวโอ๊ตกุ้ง    </b>
<br>
            <div class="is-size-4">
  </div>
      </div>
  </div>
</div>
<body>





  <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">
  <img src="assets/img/FOOD/16.1.jpg"  alt="Trolltunga Norway" width="auto" height="auto">

  </div>


  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">
  จากที่ทำเครื่องดื่มจากข้าวโอ๊ต ลองแปลงร่างมาทำเป็นโจ๊กคลีนกันดีไหม ขอนำเสนอโจ๊กข้าวโอ๊ตกุ้ง สูตรจาก อินสตาแกรม simplydesigncooking จับกุ้งไปหมักกับผงกระเทียมและพริกปาปริก้าแล้วเอาไปผัดจนสุก สุดท้ายโปะบนโจ๊กข้าวโอ๊ต
 <br>

<b>ส่วนผสม โจ๊กข้าวโอ๊ตกุ้ง  </b>
 ​​​​   <div style="text-indent: 2.5em;">• กุ้งสด </div>
    <div style="text-indent: 2.5em;"> • กระเทียม</div>
    <div style="text-indent: 2.5em;"> • ปาปริกา</div>
    <div style="text-indent: 2.5em;"> • ข้าวโอ๊ต</div>
    <div style="text-indent: 2.5em;"> • น้ำเปล่าหรือน้ำซุป</div>
    <div style="text-indent: 2.5em;"> • ซีอิ๊วขาว</div>
    <div style="text-indent: 2.5em;"> • พริกไท</div>
       
<b> วิธีทำโจ๊กข้าวโอ๊ตกุ้ง  </b><br>

  <div style="text-indent: 2.5em;"> 1. เอากุ้งไปหมักกับผงกระเทียมและปาปริก้า ผัดให้พอสุก </div>
     <div style="text-indent: 2.5em;">  2. ผสมข้าวโอ๊ตกับน้ำเปล่า หรือน้ำซุป เทใส่ลงในหม้อตั้งไฟกลางคนจนเริ่มข้น ตักใส่ถ้วย โปะกุ้งลงไปด้านบน ก่อนเสิร์ฟปรุงรสด้วยซีอิ๊วขาวและพริกไท</div>
  </div>
</div>
<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

       <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 


     <div class="responsive">
  <div class="gallery">
    <a href="food9">
      <img src="assets/img/food/9.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>พิซซ่าเมล็ดเจียมังสวิรัต</h4></div>
 
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food10">
      <img src="assets/img/food/10.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>พิซซ่าเมล็ดเจียสูตรไขมันต่ำ</h4></div>
 
  </div>
</div>



<div class="responsive">
  <div class="gallery">
    <a href="food11">
      <img src="assets/img/food/11.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดอะโวคาโดอกไก่</h4></div>
 
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food12">
      <img src="assets/img/food/12.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>พิซซ่าไข่</h4></div>

  </div>
</div>
<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


  </main>


{% endblock %}