{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
 <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b> สลัดอกไก่บาร์บีคิว   

            <div class="is-size-4">
     BBQ Chicken Salad </b></div>
      </div>
  </div>
</div>
<body>





  <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="assets/img/FOOD/19.2.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/19.3.jpg" style="width:100%">

</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
  <img src="assets/img/FOOD/19.1.jpg"  alt="Trolltunga Norway" width="auto" height="auto">

  </div>


  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">
   ใครมีซอสบาร์บีคิวเหลือ ๆ จับมาผสมกับน้ำสลัดกลายเป็นสลัดอกไก่สุดแจ่มนั่นคือ สลัดอกไก่บาร์บีคิว สูตรนี้ใส่ชีสเพิ่มความหอมมัน และใส่ถั่วและเม็ดข้าวโพดเคี้ยวเพลิน ๆ โรยตอร์ตีญ่ากรอบอร่อย
      <br>



<b>ส่วนผสม สลัดอกไก่บาร์บีคิว</b><br>

    <div style="text-indent: 2.5em;"> • น้ำมันมะกอก 1 ช้อนโต๊ะ </div>
    <div style="text-indent: 2.5em;"> • อกไก่ 2 ชิ้น</div>
    <div style="text-indent: 2.5em;"> • เกลือโคเชอร์ </div>
    <div style="text-indent: 2.5em;"> • พริกไทยดำป่น</div>
    <div style="text-indent: 2.5em;"> • ผักกาดโรเมน (Romaine Lettuce) 6 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • มะเขือเทศโรม่าหั่นเต๋า 1 ลูก</div>
    <div style="text-indent: 2.5em;"> • เม็ดข้าวโพดสุก 3/4 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • ถั่วดำสุก 3/4 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • หอมแดงหั่นเต๋า 1/4 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • ชีสมอนเทอเรย์แจ๊คขูด 1/4 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • เชดดาร์ชีสขูด 1/2 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • น้ำสลัดแรนช์ (Ranch Dressing)1/4 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • ซอสบาร์บีคิว 1/4 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • ตอร์ตีญ่า 1/4 ถ้วย
</div>
<b>วิธีทำสลัดอกไก่บาร์บีคิว</b><br>

    <div style="text-indent: 2.5em;"> 1. ตั้งกระทะใช้ไฟกลางค่อนข้างแรง ใส่น้ำมันมะกอก ใส่ไก่หมักด้วยเกลือกับพริกไทยลงไป ย่างจนสุก ตักขึ้นมาพักไว้จนเย็นแล้วหั่นเต๋า</div>
    <div style="text-indent: 2.5em;"> 2. ใส่ผักกาดคอสในชามเสิร์ฟ ใส่ไก่ด้านบน ตามด้วยมะเขือเทศ เม็ดข้าวโพด ถั่ว หอมแดง และชีสขูด ราดน้ำสลัดและซอสบาร์บีคิวลงไปจนทั่ว ท็อปด้วยตอร์ตีญ่า จัดเสิร์ฟ</div>
</div>
  </div>

  <font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

       <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 


     <div class="responsive">
  <div class="gallery">
    <a href="food9">
      <img src="assets/img/food/9.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>พิซซ่าเมล็ดเจียมังสวิรัต</h4></div>
 
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food10">
      <img src="assets/img/food/10.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>พิซซ่าเมล็ดเจียสูตรไขมันต่ำ</h4></div>
 
  </div>
</div>



<div class="responsive">
  <div class="gallery">
    <a href="food11">
      <img src="assets/img/food/11.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดอะโวคาโดอกไก่</h4></div>
 
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food12">
      <img src="assets/img/food/12.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>พิซซ่าไข่</h4></div>

  </div>
</div>
<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


  </main>


{% endblock %}