{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
 <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b>อกไก่ปิ้ง </b>
<br>
            <div class="is-size-4">
  </div>
      </div>
  </div>
</div>
<body>





  <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="assets/img/FOOD/13.1.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/13.2.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/13.3.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/13.4.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/13.5.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/13.6.jpg" style="width:100%">

</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
  <img src="assets/img/FOOD/13.1.jpg"  alt="Trolltunga Norway" width="auto" height="auto">
  <img src="assets/img/FOOD/13.3.jpg"  alt="Trolltunga Norway" width="auto" height="auto">
  <img src="assets/img/FOOD/13.4.jpg"  alt="Trolltunga Norway" width="auto" height="auto">

  </div>


  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">
      ชวนคนรักสุขภาพมาทำ “อกไก่ปิ้ง” สูตรคลีน แค่เปลี่ยนวัตถุดิบอาหารที่เราเคยทานอย่างคุ้นเคยก็เปลี่ยนเป็นอาหารคลีนได้ง่าย ๆ ทำอย่างไรไปดูกันเลย <br>

<b>วัตถุดิบ อ่านต่อได้ที่ </b><br>

 <div style="text-indent: 2.5em;">• อกไก่ลอกหนัง  200 กรัม </div>
 <div style="text-indent: 2.5em;">• ข้าวเหนียวเขี้ยวงู 1 ถ้วยตวง </div>
 <div style="text-indent: 2.5em;">• กระเทียม  1 กลีบ </div>
 <div style="text-indent: 2.5em;">• รากผักชี 1 ราก </div>
 <div style="text-indent: 2.5em;">• ซีอิ้วขาว 1 ช้อนโต๊ะ </div>
 <div style="text-indent: 2.5em;">• น้ำมันหอย  1 ช้อนโต๊ะ </div>
 <div style="text-indent: 2.5em;">• ซีอิ้วหวาน 1 ช้อนโต๊ะ </div>
 <div style="text-indent: 2.5em;">• เกลือป่นผสมเม็ดผักชี 1 ช้อนชา </div>
 <div style="text-indent: 2.5em;">• พริกไทยดำ  0.5 ช้อนชา </div>
 <div style="text-indent: 2.5em;">• น้ำเปล่าสำหรับแช่ข้าวเหนียวและหุงข้าว
</div>
<b> วิธีทำ  </b>
        <div style="text-indent: 2.5em;"> STEP 1 : หุงข้าวเหนียว </div>
        <div style="text-indent: 2.5em;"> - ล้างข้าวเหนียวเขี้ยวงูให้สะอาด แล้วแช่น้ำให้ท่วมทิ้งไว้อย่างน้อย 3- 4 ชั่วโมง</div>
        <div style="text-indent: 2.5em;">   - ครบเวลาแล้วเทน้ำออกสะเด็ดน้ำพอหมาด ใส่ในหวด </div>
        <div style="text-indent: 2.5em;">   - ใส่น้ำเปล่าในหม้อหุงข้าวสัก 2 เซนติเมตร แล้ววางหวดลงหม้อหุงข้าว หุงตามปกติ สัก 20 นาที หรือรอจนหม้อหุงข้าวดีด ครบเวลาแล้ว เอาข้าวออกมากลับข้าวให้สักหน่อยให้ความร้อนระอุทั่วกัน </div>


         <div style="text-indent: 2.5em;">  STEP 2 : ทำไก่ปิ้ง </div>
         <div style="text-indent: 2.5em;">  - หั่นอกไก่หนาสัก 3 มิลลิเมตร แล้วหมักด้วยรากผักชีกับกระเทียมตำพอแหลก ปรุงรสด้วยน้ำมันหอย ซีอิ๊วขาว และซีอิ๊วหวาน (เลือกใช้เครื่องปรุงแบบลดความเค็มก็ดีนะคะ  ถ้าใครเคร่งหน่อยตัดซีอิ๊วหวานออกได้ค่ะ)</div>
           <div style="text-indent: 2.5em;"> - เคล้าเครื่องปรุงให้เข้ากับอกไก่ แล้วใช้ไม้จิ้มอกไก่ให้ทั่ว เพื่อให้เครื่องปรุงเข้ากัน หมักทิ้งไว้ อย่างน้อย 30 นาที</div>
            <div style="text-indent: 2.5em;"> - นำอกไก่ออกมาเสียบไม้ แล้วปิ้งไก่บนกระทะเทฟลอนให้สุกด้วยไฟอ่อน </div>
</div>
  </div>

  <font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 


       <div class="responsive">
  <div class="gallery">
    <a href="food17">
      <img src="assets/img/food/17.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4> สลัดอกไก่สไตล์จีน</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food18">
      <img src="assets/img/food/18.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดอกไก่สไตล์ไทย</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food19">
      <img src="assets/img/food/19.2.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดอกไก่บาร์บีคิว</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food20">
      <img src="assets/img/food/20.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดแอปเปิลอกไก่</h4></div>
   
  </div>
</div>


<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


  </main>


{% endblock %}