{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
 <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b>   พิซซ่าเมล็ดเจียสูตรไขมันต่ำ </b>

<br>
            <div class="is-size-4">
<b>The Quick-to-Make Pizza Crust Your Diet Needs</b></div>
      </div>
  </div>
</div>
<body>





 <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b> สลัดอะโวคาโดอกไก่ </b>

<br>
            <div class="is-size-4">
<b> Avocado Chicken Salad</b></div>
      </div>
  </div>
</div>
<body>





 <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="assets/img/FOOD/11.1.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/11.2.jpg" style="width:100%">

</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
  </div>



  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">
  จากที่เคยกินอะโวคาโดเพียว ๆ ลองจับมาใส่สลัดอกไก่กันเถอะ ขอนำเสนอสลัดอะโวคาโดอกไก่ ใส่เม็ดข้าวโพดเพิ่มสีสันและเบคอนทอดเพิ่มความฟิน มาพร้อมวิธีทำน้ำสลัดเลมอน<br>
<b>ส่วนผสม สลัดอะโวคาโดอกไก่</b><br>
     <div style="text-indent: 2em;">• อกไก่ต้ม (ลอกหนัง ฉีกเป็นเส้น) 2 ชิ้น </div>
    <div style="text-indent: 2em;"> • อะโวคาโด (หั่นชิ้น) 2-3 ลูก</div>
    <div style="text-indent: 2em;"> • เม็ดข้าวโพดสุก 1 ถ้วย</div>
    <div style="text-indent: 2em;"> • เบคอนทอด (หักเป็นชิ้น) 6 ออนซ์ (หรือประมาณ 170 กรัม)</div>
    <div style="text-indent: 2em;"> • ต้นหอมซอย 1/4 ถ้วย</div>
    <div style="text-indent: 2em;"> • ผักชีลาวสับ 2 ช้อนโต๊ะ</div>
    <div style="text-indent: 2em;"> • ไข่ต้ม (ผ่าครึ่ง) 2 ฟอง</div>

<b> ส่วนผสม น้ำสลัดเลมอน
 </b>

    <div style="text-indent: 2em;"> • น้ำเลมอน 3 ช้อนโต๊ะ</div>
    <div style="text-indent: 2em;"> • นำมันมะกอก 3 ช้อนโต๊ะ</div>
    <div style="text-indent: 2em;"> • เกลือ 1 ช้อนชา</div>
    <div style="text-indent: 2em;"> • พริกไทยดำป่น 1/8 ช้อนชา
</div>
     <b>วิธีทำสลัดอะโวคาโดอกไก่</b>

    <div style="text-indent: 2em;"> 1. ใส่ไก่ฉีกกับอะโวคาโดลงอ่างผสม ตามด้วยข้าวโพด เบคอน ต้นหอม และผักชีลาว วางไข่ต้มลงไป เตรียมไว้</div>
    <div style="text-indent: 2em;"> 2. คนผสมน้ำสลัดเลมอนจนเข้ากัน ราดลงบนสลัดอะโวคาโดอกไก่
</div>
</div>
</div>

<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 


       <div class="responsive">
  <div class="gallery">
    <a href="food17">
      <img src="assets/img/food/17.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4> สลัดอกไก่สไตล์จีน</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food18">
      <img src="assets/img/food/18.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดอกไก่สไตล์ไทย</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food19">
      <img src="assets/img/food/19.2.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดอกไก่บาร์บีคิว</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food20">
      <img src="assets/img/food/20.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดแอปเปิลอกไก่</h4></div>
   
  </div>
</div>

<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


  </main>


{% endblock %}