{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
 
 

  <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b>สลัดอะโวคาโดอกไก่สไตล์เม็กซิกัน 
<br>
            <div class="is-size-4">
    MEXICAN CHICKEN AVOCADO SALAD</b></div>
      </div>
  </div>
</div>
<body>





  <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="assets/img/FOOD/1.1.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/1.2.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/1.3.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/1.4.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/1.5.jpg" style="width:100%">

</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>

      <video width="700" controls>
  <source src="assets/img/FOOD/1.1.mp4" type="video/mp4">
</video>
  <img src="assets/img/FOOD/1.3.jpg"  alt="Trolltunga Norway" width="auto" height="auto">

  </div>


  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">
  ถ้าให้กินแต่ผักสลัดและอกไก่บ่อย ๆ ก็แอบเซ็ง ลองใส่เบคอนกรอบ ๆ ลงไปพอเคี้ยวกรุบกริบดีไหม ขอนำเสนอสลัดอกไก่อะโวคาโดเบคอน ใส่ผักสลัดตามชอบ ที่ขาดไม่ได้เลยคือ เบคอน มาพร้อมวิธีทำน้ำสลัดโรสแมรี <br>

<b>ส่วนผสม สลัดอกไก่อะโวคาโดเบคอน</b><br>

      <div style="text-indent: 2.5em;">• เบคอนสไลซ์ 4 เส้น </div>
      <div style="text-indent: 2.5em;">• อกไก่ 1/2 ปอนด์ (ประมาณ 227 กรัม)</div>
     <div style="text-indent: 2.5em;"> • เกลือป่น</div>
     <div style="text-indent: 2.5em;"> • พริกไทยป่น</div>
     <div style="text-indent: 2.5em;"> • น้ำมันมะกอก 1 ช้อนโต๊ะ</div>
     <div style="text-indent: 2.5em;"> • โรสแมรีสดสับ 2 ช้อนโต๊ะ</div>
     <div style="text-indent: 2.5em;"> • ผักกาดหอมบัตเตอร์เฮด 6 ถ้วย</div>
     <div style="text-indent: 2.5em;"> • วอเตอร์เครส 1 ต้น</div>
     <div style="text-indent: 2.5em;"> • มะเขือเทศเชอร์รีผ่าครึ่ง 1 ถ้วย</div>

<b>ส่วนผสม น้ำสลัดโรสแมรี</b>
     <div style="text-indent: 2.5em;"> • ดิจองมัสตาร์ด 2 ช้อนชา</div>
     <div style="text-indent: 2.5em;"> • น้ำมันมะกอก 1/4 ถ้วย</div>
     <div style="text-indent: 2.5em;"> • น้ำส้มสายชูหมักจากไวน์แดง 1/4 ถ้วย</div>
     <div style="text-indent: 2.5em;"> • โรสแมรีสดสับ 1 ช้อนชา</div>
    <div style="text-indent: 2.5em;">  • เกลือป่น</div>
     <div style="text-indent: 2.5em;"> • พริกไทย</div>
<b> วิธีทำสลัดอกไก่อะโวคาโดเบคอน </b>
     <div style="text-indent: 2.5em;"> 1. ทำน้ำสลัดโรสแมรี โดยคนส่วนผสมทุกอย่างจนเข้ากัน  </div>
     <div style="text-indent: 2.5em;"> 2. ตั้งกระทะใช้ไฟปานกลางค่อนข้างต่ำ ใส่เบคอนลงไปทอดจนสุกกรอบ ตักขึ้นวางบนกระดาษอเนกประสงค์ ซับน้ำมันจนแห้ง เตรียมไว้</div>
     <div style="text-indent: 2.5em;"> 3. นำอกไก่หมักด้วยเกลือและพริกไทย โรยโรสแมรี ใส่ลงไปทอดในกระทะใบที่ทอดเบคอน ใช้ไฟปานกลางค่อนข้างแรง ทอดจนสุกสีเหลืองทอง ตักขึ้นพักไว้</div>
    <div style="text-indent: 2.5em;">  4. ใส่ผักสลัดลงอ่างผสม ตามด้วยมะเขือเทศ วางอกไก่หั่นชิ้นลงไป ตามด้วยเบคอนทอดและอะโวคาโด ราดน้ำสลัดโรสแมรีลงไป</div>

</div>
  </div>
   <font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 


       <div class="responsive">
  <div class="gallery">
    <a href="food17">
      <img src="assets/img/food/17.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4> สลัดอกไก่สไตล์จีน</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food18">
      <img src="assets/img/food/18.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดอกไก่สไตล์ไทย</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food19">
      <img src="assets/img/food/19.2.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดอกไก่บาร์บีคิว</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food20">
      <img src="assets/img/food/20.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดแอปเปิลอกไก่</h4></div>
   
  </div>
</div>


<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


  </main>


{% endblock %}