{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
 <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b>  พิซซ่าเมล็ดเจียมังสวิรัต </b>

<br>
            <div class="is-size-4">
<b>Chia Buckwheat Pizza</b></div>
      </div>
  </div>
</div>
<body>





  <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="assets/img/FOOD/9.1.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/9.3.jpg" style="width:100%">

</div>
<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
  <img src="assets/img/FOOD/9.2.jpg"  alt="Trolltunga Norway" width="auto" height="auto">
  <img src="assets/img/FOOD/9.3.jpg"  alt="Trolltunga Norway" width="auto" height="auto">
  </div>


  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">

<b>ส่วนผสม แป้งพิซซ่า</b><br>

         <div style="text-indent: 2.5em;">  • เมล็ดเจีย 1/4 ถ้วย </div>
         <div style="text-indent: 2.5em;">  • น้ำเปล่า 3/4 ถ้วย </div>
         <div style="text-indent: 2.5em;">  • แป้งบัควีท (ฺBuckwheat) 3 ช้อนโต๊ะ </div>
         <div style="text-indent: 2.5em;">  • ผงออริกาโน 1 ช้อนชา </div>
         <div style="text-indent: 2.5em;">  • เมล็ดสนบดหยาบ 1 ช้อนโต๊ะ </div>
         <div style="text-indent: 2.5em;">  • เมล็ดฟักทองบดหยาบ 2 ช้อนโต๊ะ </div>
         <div style="text-indent: 2.5em;">  • เกลือทะเล 1 ช้อนชา</div>

<b> ส่วนผสม หน้าพิซซ่า </b>

 <div style="text-indent: 2.5em;">• ซอสมะเขือเทศเข้มข้น 1/4 ถ้วย </div>
          <div style="text-indent: 2.5em;"> • มะเขือเทศเชอร์รี ผ่าครึ่ง 10 ลูก</div>
          <div style="text-indent: 2.5em;"> • เห็ด (ตามชอบ) สไลซ์ 4 ลูก</div>
          <div style="text-indent: 2.5em;"> • พริกหวานหั่นบาง 4-5 ชิ้น </div>
          <div style="text-indent: 2.5em;"> • ออริกาโน 1-2 ช้อนชา </div>
          <div style="text-indent: 2.5em;">• หอมใหญ่สีม่วงสไลซ์บาง 1/2 หัว</div>
          <div style="text-indent: 2.5em;"> • เกลือป่น</div>
          <div style="text-indent: 2.5em;"> • พริกไทยป่น</div>
          <div style="text-indent: 2.5em;"> • เชดดาร์ชีสขูด 30 กรัม </div>
          <div style="text-indent: 2.5em;"> • ใบโหระพา สำหรับโรยหน้า</div>
          <div style="text-indent: 2.5em;"> • ผักร็อกเก็ต สำหรับโรยหน้า</div>

<b> วิธีทำ </b>
<div style="text-indent: 2.5em;">1. ผสมเมล็ดเจีย น้ำเปล่า แป้งบัควีท ผงออริกาโน และเกลือเข้าด้วยกันนวดจนส่วนผสมข้น</div>

          <div style="text-indent: 2.5em;"> 2. ใส่เมล็ดสนและเมล็ดฟักทองลงไปคลุกเคล้าให้เข้ากัน</div>

          <div style="text-indent: 2.5em;"> 3. แผ่ส่วนผสมแป้งบนแผ่นกระดาษรองอบ แผ่ให้เป็นทรงกลม หนาประมาณ 1 เซนติเมตร </div>

          <div style="text-indent: 2.5em;"> 4. นำเข้าเตาอบที่อุณหภูมิ 175 องศาเซลเซียส (หรือ 350 องศาฟาเรนไฮต์) ประมาณ 30-40 นาที จนสีสุกเหลือง</div>

          <div style="text-indent: 2.5em;"> 5. นำออกจากเตาอบ ราดซอสมะเขือเทศเข้มข้น โรยมะเขือเทศเชอร์รี เห็ด พริกหวาน ออริกาโน หอมใหญ่ เกลือป่นและพริกไทยป่นลงไป อบต่ออีกประมาณ 10 นาที </div>

          <div style="text-indent: 2.5em;"> 6. โรยเชดดาร์ชีส ใบโหระพาและผักร็อกเก็ต พร้อมเสิร์ฟ</div>




  
</div>
</div>

  <font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 


      <div class="responsive">
  <div class="gallery">
    <a href="food13">
      <img src="assets/img/food/13.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>อกไก่ปิ้ง</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food14">
      <img src="assets/img/food/14.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดถั่วเลนทิล-ซิกพี</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food15">
      <img src="assets/img/food/15.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดผลไม้กุ้งกรอบ</h4></div>
  
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food16">
      <img src="assets/img/food/16.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>โจ๊กข้าวโอ๊ตกุ้ง</h4></div>
  
  </div>
</div>

<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
  </main>


{% endblock %}