{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
  <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b>สลัดถั่วเลนทิล-ซิกพี </b>
<br>
            <div class="is-size-4">
  </div>
      </div>
  </div>
</div>
<body>





  <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">
  <img src="assets/img/FOOD/14.1.jpg"  alt="Trolltunga Norway" width="auto" height="auto">

  </div>


  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">
   Lentil and Chickpea Salad สลัดที่รวมความหนึบของถั่ว ความสดกรอบของผักสลัด รสเปรี้ยวอมหวานของน้ำสลัดตัดด้วยรสเค็มของชีสในจานเดียว
 <br>

<b>ส่วนผสม สลัดถั่ว </b><br>
 <div style="text-indent: 2.5em;"> • ถั่วเลนทิลสุก (Lentil) 1+1/2 ถ้วย </div>
    <div style="text-indent: 2.5em;"> • ถั่วชิกพีสุก 1 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • แรดิช 2 หัว</div>
    <div style="text-indent: 2.5em;"> • เฟต้าชีส 1/3 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • ผักสลัด 2 ถ้วย</div>
    <div style="text-indent: 2.5em;"> • น้ำเลมอน 1/4 ถ้วย</div>
   <div style="text-indent: 2.5em;">  • ดิจองมัสตาร์ด 1+1/2 ช้อนชา</div>
    <div style="text-indent: 2.5em;"> • น้ำผึ้ง 3 ช้อนชา    </div>
    <div style="text-indent: 2.5em;"> • กระเทียมสับ 1 กลีบ</div>
    <div style="text-indent: 2.5em;"> • น้ำมันมะกอก 2 ช้อนโต๊ะ</div>
    <div style="text-indent: 2.5em;"> • เกลือ </div>
    <div style="text-indent: 2.5em;"> • พริกไทย</div>

<b> วิธีทำสลัดถั่ว  </b>


    <div style="text-indent: 2.5em;"> 1. ทำน้ำสลัด โดยผสมน้ำเลมอน ดิจองมัสตาร์ด น้ำผึ้ง กระเทียมสับ และน้ำมันมะกอก คนให้เนียนเป็นเนื้อเดียวกัน ปรุงรสด้วยเกลือและพริกไทย</div>
    <div style="text-indent: 2.5em;"> 2. ผสมเลนทิล ชิกพี และแรดิชสไลซ์เป็นชิ้นบาง ๆ เข้าด้วยกัน เทน้ำสลัดลงไป คนให้เข้ากัน สามารถปรุงรสเพิ่มด้วยเกลือและพริกไทย</div>
    <div style="text-indent: 2.5em;"> 3. จัดผักสลัดใส่จาน เทส่วนผสมเลนทิลลงไป แล้วโรยหน้าด้วยเฟต้าชีส</div>


     <b> เคล็ดลับ </b>
        <div style="text-indent: 2.5em;"> ถ้าใช้เลนทิลและชิกพีดิบ ให้นำถั่วทั้ง 2 ชนิดไปแช่น้ำอย่างน้อย 6 ชั่วโมงหรือข้ามคืน แต่ถ้าเวลามีจำกัดสามารถแช่ในน้ำร้อนประมาณ 1 ชั่วโมงแทนได้</div>
</div>
  </div>

   <font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         
       <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 
 


      <div class="responsive">
  <div class="gallery">
    <a href="food1">
      <img src="assets/img/food/1.4.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>สลัดอะโวคาโดอกไก่สไตล์เม็กซิกัน </h4></div>

</div></div>

<div class="responsive">
  <div class="gallery">
    <a href="food2">
      <img src="assets/img/food/2.5.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>สลัดอกไก่อะโวคาโดเบคอน</h4></div>
   
</div></div>

<div class="responsive">
  <div class="gallery">
    <a href="food3">
      <img src="assets/img/food/3.1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>สลัดอกไก่สูตรเฮลธ์ตี้ </h4> </div>
    
</div></div>

<div class="responsive">
  <div class="gallery">
    <a href="food4">
      <img src="assets/img/food/4.1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>พาสต้าเส้นซูกินี</h4></div>

  
</div>
</div>

<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


  </main>


{% endblock %}