{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
 <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b> สลัดอกไก่สไตล์จีน  

            <div class="is-size-4">
    Chinese Chicken Salad</b></div>
      </div>
  </div>
</div>
<body>





  <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">

<div class="slideshow-container">

<div class="mySlides fade">
  <img src="assets/img/FOOD/17.1.jpg" style="width:100%">

</div>

<div class="mySlides fade">

  <img src="assets/img/FOOD/17.3.jpg" style="width:100%">

</div>

<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
<br>

<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span> 
  <span class="dot" onclick="currentSlide(2)"></span> 
  <span class="dot" onclick="currentSlide(3)"></span> 
</div>

<script>
var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("dot");
  if (n > slides.length) {slideIndex = 1}    
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";  
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";  
  dots[slideIndex-1].className += " active";
}
</script>
  <img src="assets/img/FOOD/17.2.jpg"  alt="Trolltunga Norway" width="auto" height="auto">

  </div>


  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">
    ใครอยากกินสลัดอกไก่สุดแนวอยากให้ลองเมนูสลัดอกไก่สไตล์จีน ทีเด็ดคือ ใส่เส้นบะหมี่กรอบผสมกับอกไก่และผักหลากชนิด มาพร้อมวิธีทำน้ำสลัดขิงรสเผ็ดร้อนหน่อย ๆ      <br>

<b>ส่วนผสม สลัดอกไก่สไตล์จีน</b><br>

      <div style="text-indent: 2.5em;">• อกไก่สุกฉีก 4 ถ้วย</div>
      <div style="text-indent: 2.5em;">• ผักกาดขาวหั่นฝอย 1 ปอนด์ (ประมาณ 454 กรัม)</div>
      <div style="text-indent: 2.5em;">• กะหล่ำปลีม่วงหั่นฝอย 2 ถ้วย</div>
      <div style="text-indent: 2.5em;">• แครอทขูดเส้น 1 ถ้วย</div>
      <div style="text-indent: 2.5em;">• ต้นหอมซอย 1 ต้น</div>
      <div style="text-indent: 2.5em;">• ผักชีซอย 1/4 ถ้วย</div>
      <div style="text-indent: 2.5em;">• เส้นโซเมนทอดกรอบ หรือเส้นบะหมี่กรอบ 1 ถ้วย</div>
      <div style="text-indent: 2.5em;">• งาขาวคั่ว
</div>
<b> ส่วนผสม น้ำสลัดขิง</b>

     <div style="text-indent: 2.5em;"> • น้ำมันคาโนลา 2 ช้อนโต๊ะ</div>
     <div style="text-indent: 2.5em;"> • น้ำส้มสายชู 1/3 ถ้วย</div>
     <div style="text-indent: 2.5em;"> • ซอสฮอยซิน 1/4 ถ้วย</div>
     <div style="text-indent: 2.5em;"> • ซอสถั่วเหลือง 1+1/2 ช้อนโต๊ะ</div>
     <div style="text-indent: 2.5em;"> • ขิงขูด 1 ช้อนโต๊ะ</div>
     <div style="text-indent: 2.5em;"> • น้ำมันงา 1/2 ช้อนชา</div>
<b>วิธีทำสลัดอกไก่สไตล์จีน</b>
     <div style="text-indent: 2.5em;"> 1. ทำน้้ำสลัดขิง โดยคนส่วนผสมทุกอย่างจนเข้ากัน</div>
     <div style="text-indent: 2.5em;"> 2. ทำสลัด โดยใส่อกไก่และผักต่าง ๆ ลงชามเสิร์ฟ โรยเส้นบะหมี่ทอดกรอบและงาขาวคั่ว สุดท้ายราดน้ำสลัดขิง</div>
</div>
  </div>

  <font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="#about"><b>ไม่มีกุ้ง</b></b></a>
           <a href="#services"><b>ไม่มีถั่ว</b></a>
           <a href="#clients"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="#contact"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 


<div class="responsive">
  <div class="gallery">
    <a href="food5">
      <img src="assets/img/food/5.2.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc"><h4>สปาเกตตีผัดผักโขมมะเขือเทศ</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food6">
      <img src="assets/img/food/6.4.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดก๋วยเตี๋ยวเนยถั่ว</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food7">
      <img src="assets/img/food/7.6.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดก๋วยเตี๋ยวเวียดนาม</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food8">
      <img src="assets/img/food/8.4.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>พิซซ่าเมล็ดเจียดอกกะหล่ำ</h4></div>
 
  </div>
</div>


<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
  </main>


{% endblock %}