{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>
 <font face="TH SarabunPSK">
<div class="is-size-3">
        <div class="has-text-centered">
          <div style="color:#000000;">    <b>   พิซซ่าเมล็ดเจียสูตรไขมันต่ำ </b>

<br>
            <div class="is-size-4">
<b>The Quick-to-Make Pizza Crust Your Diet Needs</b></div>
      </div>
  </div>
</div>
<body>





  <div class="row">

  <font face="TH SarabunPSK">
  <div class="column left" style="background-color:#ffffff;">
  <img src="assets/img/FOOD/10.1.jpg"  alt="Trolltunga Norway" width="auto" height="auto">
  </div>


  <div class="column middle" style="background-color:#ffffff;">

    <div class="is-size-4">

<b>ส่วนผสม</b><br>


         <div style="text-indent: 2em;"> • แป้งโฮลวีตขาว 2 1/2 ถ้วย </div>
         
         <div style="text-indent: 2em;">  • เมล็ดเจีย 1/4 ถ้วย</div>
         
         <div style="text-indent: 2em;">  • ผงฟู 3 ช้อนชา</div>
         
         <div style="text-indent: 2em;">  • เกลือ 1 ช้อนชา
         </div>
         <div style="text-indent: 2em;">  • โหระพาแห้งบด 3 ช้อนชา
         </div>
         <div style="text-indent: 2em;"> • ผงกระเทียม 1/2 ช้อนชา
         </div>
         <div style="text-indent: 2em;">  • น้ำมันมะกอก 1 ช้อนชา
         </div>
         <div style="text-indent: 2em;">  • น้ำอุ่น 1 1/2 ถ้วย
</div>


<b> วิธีทำ </b>


         <div style="text-indent: 2em;"> 1. เปิดเตาอบที่อุณหภูมิ 400 องศาฟาเรนไฮต์ และปูกระดาษรองอบบนถาดสำหรับอบ เตรียมไว้

          </div>
         <div style="text-indent: 2em;">  2. ผสมแป้งกับเมล็ดเจีย ผงฟู เกลือ ใบโหระพา และผงกระเทียมเข้าด้วยกัน 

          </div>
         <div style="text-indent: 2em;">  3. เติมน้ำนมะกอกและน้ำลงไปใช้ช้อนคนผสมให้เข้ากัน

         <div style="text-indent: 2em;"> 
           4. วางส่วนผสมลงบนพื้นที่สะอาด ๆ แล้วนวดส่วนผสมไปเรื่อย ๆ ประมาณ 2 นาที แล้วปั่นเป็นก้อนกลม ๆ 

          </div>
         <div style="text-indent: 2em;">  5. ฉีดสเปรย์กันติดลงบนถาดแล้วนำก้อนแป้งวางลงในถาด
</div>
          
         <div style="text-indent: 2em;">  6. นำไปอบประมาณ 10-12 นาทีจนแป้งแห้ง

          </div>
         <div style="text-indent: 2em;">  7. นำแป้งออกมาท็อปปิ้งด้วยหน้าพิซซ่าตามชอบแล้วนำปอบต่ออีก 8-10 นาที 
</div>

</div>
</div>
</div>

  <font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="#about"><b>ไม่มีกุ้ง</b></b></a>
           <a href="#services"><b>ไม่มีถั่ว</b></a>
           <a href="#clients"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="#contact"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
 


<div class="responsive">
  <div class="gallery">
    <a href="food5">
      <img src="assets/img/food/5.2.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc"><h4>สปาเกตตีผัดผักโขมมะเขือเทศ</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food6">
      <img src="assets/img/food/6.4.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดก๋วยเตี๋ยวเนยถั่ว</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food7">
      <img src="assets/img/food/7.6.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>สลัดก๋วยเตี๋ยวเวียดนาม</h4></div>

  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food8">
      <img src="assets/img/food/8.4.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>พิซซ่าเมล็ดเจียดอกกะหล่ำ</h4></div>
 
  </div>
</div>


<div class="clearfix"></div>
  </div>

</div>
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
  </main>


{% endblock %}