{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>Mix berry & carrot soy milk </b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><img src="assets/img/drink/8.1.jpg" alt="" width="350" height="500">


</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>ก่อนไป boxing ก็เลยอยากดื่มอะไรที่อิ่มท้อง 
     <br>และเพิ่มกำลังเลยลองทำสูตรนี้ขึ้นมาค่ะ
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม</font>
      <br>-กล้วยหอม(หั่น) 1 ลูก 
   <br>-โยเกิร์ต (non sugar ยี่ห้ออะไรก็ได้ เราใช้ของโยลิดา) 1 ถ้วย 
   <br>-นมจืด(low fat) 1 แก้ว 
   <br>-ดาร์คช็อคโกแลตบาร์ 4-6 ชิ้น 
   <br>-เนยถั่ว 1 ช้อนโต๊ะ 
   <br>-น้ำผึ้ง 1 ช้อนโต๊ะ 
   <br>-มูสลี่(หรือธัญพืชอะไรก็ได้) 1 ช้อนโต๊ะ 
     <br>
     
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. ใส่กล้วย โยเกิร์ต เนยถั่ว ช็อคโกแลต และนมลงในโถปั่น 
     <br>แล้วกดปั่นได้เลยยย (ค่อยเทน้ำผึ้งผสมลงไปหลังจากเนื้อเริ่มละเอียด) 
     <br>ปั่นไม่ต้อง ละเอียดมาก 
     <br>2. เทใส่แก้ว โรยมูสลี่หรือธัญพืชลงไป เสร็จแล้วว  


</font>
  <br><br>
  
  
</div>


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
  
 

 <div class="responsive">
  <div class="gallery">
    <a href="drink17">
      <img src="assets/img/drink/17.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>LEMON CHIA FRESCA</h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink18">
      <img src="assets/img/drink/18.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Pineapple Ginger Lassi </h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink19">
      <img src="assets/img/drink/19.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Kiwi Pineapple Smoothie </h4></div>
   
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink20">
      <img src="assets/img/drink/20.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Very Berry Mojito Slushies </h4></div>
   
  </div>
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>





  </main>
{% endblock %}