{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>Detox smoothie</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><img src="assets/img/drink/6.1.jpg" alt="" width="350" height="500">


</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>ใครอยากขับถ่ายคล่องอยากชวนมาดื่มดีท็อกซ์สมูทตี้
     <br>สูตรจากนิตยสารแม่บ้าน สูตรนี้ใส่ทั้งผักและผลไม้ลงไปปั่น 
     <br>มีทั้งความเปรี้ยวจากน้ำเลมอนและความหวานจากน้ำผึ้ง 
     <br>วันหยุดนี้ถ้าไม่ได้ออกไปไหน อยากให้ออกไปช้อปปิ้งส่วนผสม
     <br>แล้วทำดื่มสักแก้ว ท้องจะไม่แน่นอีกต่อไปค่ะ
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม</font>
      <br>-แอปเปิ้ลเขียว 2 ชิ้น 
      <br>-กีวี 2 ชิ้น 
      <br>-กล้ยวหอม 1 ลูก 
      <br>-วอเตอร์เครส ตามชอบ 
      <br>-ผงมัทฉะ 1/2 ชช 
      <br>-แฟลกซ์ซีด 1/2 ชต 
       <br>-เซียซีด 1/2 ชต 
       <br>-น้ำมะพร้าว 150-200 ml 
       <br>-กรีกโยเกิต 2 ชต 
     <br>
     
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. นำทุกอย่างลงปั่นคะ สูตรนี้ไม่ใส่น้ำแข็ง 

</font>
  <br><br>
  
  
</div>


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
  
 

  <div class="responsive">
  <div class="gallery">
    <a href="drink9">
      <img src="assets/img/drink/9.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>แก้วมังกรสมูทตี้ </h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink10">
      <img src="assets/img/drink/10.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>น้ำอะโวคาโดปั่น</h4></div>
    <br>
  </div>
</div>



<div class="responsive">
  <div class="gallery">
    <a href="drink11">
      <img src="assets/img/drink/11.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Pumpkin pie Smoothie</h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink12">
      <img src="assets/img/drink/12.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4> Blueberry Smothie</h4></div>
    <br>
  </div>
</div>


<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>





  </main>
{% endblock %}