{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>  Pumpkin pie Smoothie </b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

       <br><img src="assets/img/drink/14.1.jpg" alt="" width="350" height="500">
</div></div>


  <div class="column middle" style="background-color:#ffffff;">

    
     <font size = "5">
     <br>ฟักทองนึ่งที่เหลือ ๆ จับมาบดแล้วทำสมูทตี้ข้าวโอ๊ตฟักทองกันเถอะ 
     <br>หรือใครจะใช้ฟักทองกระป๋องก็ได้ จับไปปั่นกับข้าวโอ๊ต โยเกิร์ต 
     <br>และนมสด เติมกลิ่นวานิลลาไปหน่อย ถ้าชอบรสออกหวานนิด ๆ ก็เติมน้ำผึ้ง 

<br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสมของแห้ง</font>
     <br>-ต้มฟักทองจนเป็นซุปข้นๆ 1 ถ้วย
     <br>-กล้วย 1 ผล
     <br>-โยเกิร์ตรสธรรมชาติ 1/2  ถ้วย
     <br>-นมจืดไขมันตํา่ 1/2 ถ้วย  
     <br>-ผงอบเชย 1/4 ช้อนชา
     <br>-ผงฟักทอง 1/4 ช้อนชา
     
     <br>
     
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br> ผสมส่วนผสมเข้าด้วยกันแล้วนํามาปั่น
     <br> พร้อมแล้วนํามาใส่นํา้แข็งดื่มได้

     
 </font>  
  <br><br>
  
  
</div>


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
     
 
<div class="responsive">
  <div class="gallery">
    <a href="drink1">
      <img src="assets/img/drink/1.1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>Pineapple yellow mixed fruit</h4></div>
<br>
</div></div>

<div class="responsive">
  <div class="gallery">
    <a href="drink2">
      <img src="assets/img/drink/2.1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>สูตรซันเดย์พุดดิ้งเมล็ดเจีย</h4></div>
   
</div></div>

<div class="responsive">
  <div class="gallery">
    <a href="drink3">
      <img src="assets/img/drink/3.1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>ช็อกโกแลต(เวย์)ปั่น </h4> </div>
    
</div></div>

<div class="responsive">
  <div class="gallery">
    <a href="drink4">
      <img src="assets/img/drink/4.1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>Root Beer Float </h4></div>

    <br>
</div>
</div>
<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>





  </main>
{% endblock %}