{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>แก้วมังกรสมูทตี้ </b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><img src="assets/img/drink/9.1.jpg" alt="" width="350" height="500">


</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>มีสรรพคุณในการป้องกันโรคหัวใจ ความดันเลือด ตับ เบาหวาน 
     <br>มะเร็งลำไส้ และต่อมลูกหมาก ทั้งยังช่วยเสริมสร้างภูมิต้านทาน
     <br>ให้กับกระดูก ฟัน และกล้ามเนื้อ #ที่สำคัญช่วยลดน้ำหนักได้นะคะ
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม</font>
      <br>-กล้วยหอม(หั่น) 1 ลูก 
   <br>-แก้วมังกรสีแดง 150 กรัม 
   <br>-โยเกิร์ตรสธรรมชาติ 135 กรัม 
   <br>-นมสด 100 มล 
  <br>-น้ำผึ้ง 1 ช้อนชา 
  <br>-น้ำแข็ง 
     <br>
     
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. นำแก้วมังกรมาหั่นเป็นชิ้นๆแล้วนำส่วนผสมทุกอย่างที่เตรียม
     <br>ไว้ใส่เครื่องปั่นเลยคะ 
       <br>2. ปั่นทุกอย่างรวมกันจนน้ำแข็งละเอียดแล้วเทใส่แก้วท่เตรียมไว้ 
       <br>3. ตกแต่ด้วยใบสาระแหน่(แล้วแต่ชอบเลยคะ)พร้อมดื่มได้เลยคะ  


</font>
  <br><br>
  
  
</div>


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
    
 

  
  <div class="responsive">
  <div class="gallery">
    <a href="drink13">
      <img src="assets/img/drink/13.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Green Vegetable Smoothie </h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink14">
      <img src="assets/img/drink/14.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>น้ำนมข้าวผสมอบเชย </h4></div>
  
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink15">
      <img src="assets/img/drink/15.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>ชาแบล็คเบอร์รี่มินต์สดชื่นดับร้อน</h4></div>
    
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink16">
      <img src="assets/img/drink/16.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Mint Strawberry Lemonade</h4></div>
    <br>
  </div>
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>





  </main>
{% endblock %}