{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>Root Beer Float</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><img src="assets/img/drink/4.1.jpg" alt="" width="350" height="500">


</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>2 ส่วนผสมเท่านั้น ทำเองได้ง่ายๆ ดื่มเย็นๆ 
     <br>กับไอศกรีมชื่นใจ ไม่มีแอลกอฮอล์ค่ะ เผื่อใครเข้าใจ
     <br>ว่าเป็นเบียร์ แต่ถ้าเพื่อนๆไม่ชอบรสชาติของรูทเบียร์ที่คล้ายๆน้ำซาสี่ 
     <br>กลิ่นเหมือนน้ำมันมวยก็สามารถใช้เครื่องดื่มอื่นได้ค่ะ ทำเป็นโค้กโฟลท 
     <br>หรือเป๊ปซี่โฟลท ประยุกต์ได้ตามชอบ
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม</font>
      <br>-เครื่องดื่มรูทเบียร์แช่เย็นจัด 1 กระป๋อง 
    <br>- ไอศกรีมรสวานิลลา 2 ถ้วยเล็กหรือ 2 สกู๊ปใหญ่ 
    <br>- ซอสช็อคโกแลตและผลไม้สำหรับแต่งหน้า (ไม่ใส่ก็ได้) 
     <br>
     
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. นำไอศกรีมรสวานิลลาใส่ลงไปในแก้ว 1 ถ้วยเล็ก เติมรูทเบียร์
     ลงไปประมาณ 3/4 ของแก้ว คนให้พอเข้ากัน 
     <br>2. ค่อยๆบีบไอศกรีมที่เหลืออีกถ้วยลงไปด้านบนให้เป็นก้อนลงไปเบาๆ 
     <br>เติมรูทเบียร์ลงไปให้ไอศกรีมลอยขึ้นพ้นปากแก้วขึ้นมา เป็นที่มา
      <br>ของคำว่าโฟลท float ที่แปลว่าลอยขึ้น นั่นเอง ตกแต่งด้วยซอสช็อคโกแลต
      <br>และผลไม้ตามชอบ ปักหลอดลงไปก็พร้อมเสิร์ฟแล้วค่ะ 
      <br>3. ถ้าใช้แก้วเล็กก็ใส่ไอศกรีมแค่ถ้วยเดียว ปรับได้ตามชอบ 
       <br>เครื่องดื่มชนิดนี้เมื่อทำแล้วควรดื่มทันที อย่าปล่อยให้ไอศกรีม
       <br>ละลายจนเป็นน้ำ รสชาติจะเปลี่ยนไป
</font>
  <br><br>
  
  
</div>


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
    
 

  <div class="responsive">
  <div class="gallery">
    <a href="drink5">
      <img src="assets/img/drink/5.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc"><h4>สมูทตี้มะม่วงโยเกิร์ตและน้ำผึ้ง </h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink6">
      <img src="assets/img/drink/6.1.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc"><h4>Detox smoothie</h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink7">
      <img src="assets/img/drink/7.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Mix berry carrot soy milk</h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink8">
      <img src="assets/img/drink/8.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>นมกล้วยหอมโยเกิร์ตช็อคโกแลตเนยถั่วปั่น</h4></div>
    <br>
  </div>
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>





  </main>
{% endblock %}