{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>Mix berry & carrot soy milk </b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><img src="assets/img/drink/7.1.jpg" alt="" width="350" height="500">


</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>ผลไม้แช่แข็งเอามาปั่นเย็นชื่นใจ ได้สุขภาพ detoxได้ด้วย
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม</font>
      <br>-น้ำเต้าหู้ แบบจืด 2 แก้ว 
       <br>-มิกซ์เบอร์รี่แช่แข็ง 1 กำมืิอ 
       <br>-แครอทแช่แข๋ง 1 ชต 
       <br>-แคนตาลูปแช่แข็ง 3 ชิ้น 
       <br>-น้ำมะนาว 1 ลูก
     <br>
     
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. นำน้ำเต้าหู้ใส่เครื่องปั่น 
       <br>2. ใส่ผลไม้รวม และ แครอทลงในเครื่องปั่นอย่าลืมนะคะต้อง
       <br>เป็นแบบแช่แข็งจะได้เย็นๆ 
       <br>3. กดปั่นเลยจ้า เมื่อเข้ากันดีแล้วบีบมะนาวลงไปเพิ่มรสชาติเทใส่แก้ว
       <br>แก้วนี้จะออกรสชาติเปรี้ยวหน่อยถือว่าเป็นการ detox ได้อย่างดี 


</font>
  <br><br>
  
  
</div>


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
      
 

  
  <div class="responsive">
  <div class="gallery">
    <a href="drink13">
      <img src="assets/img/drink/13.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Green Vegetable Smoothie </h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink14">
      <img src="assets/img/drink/14.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>น้ำนมข้าวผสมอบเชย </h4></div>
  
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink15">
      <img src="assets/img/drink/15.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>ชาแบล็คเบอร์รี่มินต์สดชื่นดับร้อน</h4></div>
    
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink16">
      <img src="assets/img/drink/16.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Mint Strawberry Lemonade</h4></div>
    <br>
  </div>
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>





  </main>
{% endblock %}