{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
{% endblock %}

{% block content %}

  <main>

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>Pineapple yellow mixed fruit</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <img src="assets/img/drink/1.1.jpg" alt="" width="350" height="500">

  <br><div class="has-text-centered"><font size = "6">Video</font></div>
  <object width='425' height='355'>
<param name='movie' value='http://www.youtube.com/v/dSGfW92I7TU'></param>
<param name='wmode' value='transparent'></param>
<embed src='http://www.youtube.com/v/dSGfW92I7TU' type='application/x-shockwave-flash' wmode='transparent' width='355' height='355'></div>
</embed>
</object>
</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>เคยเป็นไหม? จะกินอะไรทั้งทีแค่ตักเข้าปากเคี้ยวๆ กลืน 
     <br>เดูจะเป็นเรื่องที่ช่างน่าเบื่อซะเหลือเกิน โดยเฉพาะอย่างยิ่งกับ
     <br>เอาหารคลีนด้วยแล้ว การประดับตกแต่งจัดพร้อพให้สวยสมกับจะอวดเพื่อนๆ 
     <br>เในโซเชียลมีเดีย จึงเป็นเรื่องที่เรามักทำกัน เอาเป็นว่าเมนูนี้ก็
     <br>เไม่ได้มีที่มาอะไรมาก มีผลไม้สีเหลืองสต็อกอยู่ในตู้เย็นก็ยกออกมาปั่น 
     <br>เจัด โรยไปตามเรื่อง ไปดูกันเผื่อไว้เป็นไอเดีย
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม สมูทตี้ </font>
      <br>-เนื้อสับปะรด 50 กรัม
      <br>-พีชแช่แข็ง 1 ลูก
      <br>-มะละกอ 50 กรัม
      <br>-กล้วยหอมแช่แข็ง 1 ลูก
      <br>-ส้ม 50 กรัม
      <br>-เสาวรสแช่แข็ง 1 ลูก
      <br>-โยเกิร์ตรสธรรมชาติ 1 ช้อนโต๊ะ
      <br>-นมสด 4 ช้อนโต๊ะ (เติมเพิ่มได้ถ้าหนืดเกินไป)
      <br>-น้ำตาลมะพร้าว
      <br>-เกลือ 1/8 ช้อนชา
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม โรยหน้า</font>
     <br>-กราโนล่า 1 ช้อนโต๊ะ
      <br>- เมล็ดเจียสด 1 ช้อนชา
     <br>-  คอนเฟลก 1 ช้อนชา
      <br>- งาม้อน 1 ช้อนชา
      <br>- มะพร้าวฝอย 1 ช้อนชา
      <br>- บลูเบอรี่
     <br>
     
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. นำสับปะรดผ่าครึ่ง คว้านเนื้อออกเตรียมไว้สำหรับทำชาม 
     <br>2. นำส่วนผสมสมูทตี้ใส่โถปั่น จากนั้นปั่นให้เข้ากัน
      <br>3. เทส่วนผสมใส่ชามสับปะรดที่เตรียมไว้
     <br>4. ใช้โยเกิร์ตหยดลงบนเนื้อสมูทตี้ จากนั้นใช้ช้อนวาดลวดลาย
     <br>เหมือนการทำ Latte Art
     <br>5. โรยส่วนผสมต่างๆ ลง พร้อมจัดตกแต่งด้วยเสาวรสผ่าครึ่ง
 </font>    
 

  
  
</div>


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       
 

 <div class="responsive">
  <div class="gallery">
    <a href="drink17">
      <img src="assets/img/drink/17.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>LEMON CHIA FRESCA</h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink18">
      <img src="assets/img/drink/18.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Pineapple Ginger Lassi </h4></div>
    <br>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink19">
      <img src="assets/img/drink/19.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Kiwi Pineapple Smoothie </h4></div>
   
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="drink20">
      <img src="assets/img/drink/20.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>Very Berry Mojito Slushies </h4></div>
   
  </div>
</div>
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
 <div>




  </main>
{% endblock %}