{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>        
   <font face="TH SarabunPSK">

<div class="has-text-centered">
<font size = "6"><b>Cranberry scones</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <img src="assets/img/dessert/4.3.jpg" alt="" width="350" height="500">
  <br><img src="assets/img/dessert/4.2.jpg" alt="" width="350" height="500">
  <br><img src="assets/img/dessert/4.1.jpg" alt="" width="350" height="500">
  </div>
  </div>


<div class="column middle" style="background-color:#ffffff;">

<font size = "5">
     <br>&emsp;&emsp;สโคนเป็นขนมที่ส่วนผสมไม่เยอะ วิธีทำไม่ยุ่งยาก เอาไปดัดแปลง
     <br>&emsp;&emsp;ได้หลายรส ทานกับ Clotted Cream และแยมหรือจะเป็นแบบคาว
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม สโคน</font>
     <br>-แป้งสาลีอเนกประสงค์ 200 กรัม
     <br>-แป้งเค้ก 50 กรัม
     <br>-ผงฟู 13 กรัม
     <br>-เกลือ
     <br>-น้ำตาลทราย 20 กรัม 
     <br>-เนยเค็ม 65 กรัม
     <br>-ไข่ไก่ 1 ฟอง
     <br>-นมสดจืดเย็น 75 กรัม
     <br>-แครนเบอร์รี 40 กรัม 
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม ไข่ไก่สำหรับทาขนม</font>
     <br>-ไข่แดง 1 ฟอง
     <br>-นมสดจืด 1 ช้อนโต๊ะ 
     <br>

     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. ร่อนแป้งสาลีอเนกประสงค์ แป้งเค้ก และผงฟูเข้าด้วยกัน 
     <br>2. ใส่เกลือ น้ำตาลทราย และตัดเนยเป็นชิ้นเล็ก ๆ ใส่ลงใน
     <br>ส่วนผสมของแป้ง ใช้ที่สับเนย (Pastry Blender) 
     <br>หรือใช้มือบี้เนยให้เข้ากับแป้ง
     <br>3. ทำแป้งเป็นหลุมตรงกลาง ใส่นมจืดและไข่ไก่ลงไป ตีไข่ไก่ก่อนใส่
      <br>คนผสมให้เข้ากัน ไม่ต้องคนมากแค่พอเข้ากัน
     <br>ถ้าอยากใส่ผลไม้แห้ง หรือเบคอน หรืออื่น ๆ ใส่ในขั้นตอนนี้ได้เลย
     <br>4. เมื่อผสมเข้ากันแล้วคลุมแป้งด้วยพลาสติกแล้วพักแป้งประมาณ 30 นาที
     <br>5. พอครบเวลาพักแป้งแล้วก็นำแป้งมาคลึงออกให้ได้ความหนา
     <br>ประมาณ 3 - 4 เซนติเมตร
     <br>6. แล้วใช้พิมพ์กดแบ่ง ใช้พิมพ์รูปแบบต่างๆตามความชอบ
     <br>7. ตัดแบ่งจนหมดแล้วก็ทาไข่ไก่แล้วนำเข้าอบที่
     <br>อุณหภูมิ 160 องศาเซลเซียส ประมาณ 15 นาที
 </font>    


 
  <br><br>
  
  <div class="has-text-centered"><font size = "6">Video</font></div>
  <div class="has-text-centered">
  <object width='425' height='355'>
<param name='movie' value='http://www.youtube.com/v/ZPMExILgS-k'></param>
<param name='wmode' value='transparent'></param>
<embed src='http://www.youtube.com/v/ZPMExILgS-k' type='application/x-shockwave-flash' wmode='transparent' width='425' height='355'></div>
</embed>
</object>
</div>
</div>

<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
          <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       <div class="responsive">
 

  
  <div class="gallery">
    <a href="dessert5">
      <img src="assets/img/dessert/5.1.jpg" alt="Trolltunga Norway" width="600" height="400">
    </a>
    <div class="desc">กล้วยบวดชีนมสด</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert6">
      <img src="assets/img/dessert/6.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">แพนเค้กข้าวโอ๊ตกล้วยหอม</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert7">
      <img src="assets/img/dessert/7.1.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">โยเกิร์ต พาร์เฟ่ต์</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert8">
      <img src="assets/img/dessert/8.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">โฮมเมดบัวลอยน้ำขิง</div>
  </div>
</div>
</div>

<div class="clearfix"></div>
 
<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
<br><br>

</main>


{% endblock %}