{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  
    <font face="TH SarabunPSK">
 
        <div class="has-text-centered">
<font size = "6"><b>โยเกิร์ต พาร์เฟ่ต์</b></font>
 </div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/7.2.jpg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/7.1.jpg" alt="" width="350" height="500">
</div>

</div>

<div class="column middle" style="background-color:#ffffff;">

<font size = "5">
     <br>ใครกำลังมองหาเมนูของหวานสไตล์สดชื่น ที่ทานได้แบบไม่ต้องห่วงอ้วนอยู่
     <br>ลองเอาเมนูโยเกิร์ต พาร์เฟ่ไปลองทำดู วิธีการไม่ยาก ได้คุณค่าทางอาหาร
     <br>ในพลังงานที่พอเหมาะ
     <br>
     <br>เสาวรสนั้นเป็นผลไม้ที่มีวิตามินและแร่ธาตุมากมายทั้งวิตามินเอช่วยบำรุงสายตา
     <br>วิตามินซีช่วยเพิ่มภูมิคุ้มกัน มีสารฟลาโวนอยด์อย่างเบต้าแคโรทีนและ
     <br>คริบโทแซนทินเบต้าสูง มีไฟเบอร์สูง และมีสารต้านอุมูลอิสระ ที่ช่วยชะลอ
     <br>ความเสื่อมของร่างกาย ในขณะที่ให้พลังงานต่ำ
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม</font>
     <br>-เม็ดแมงลัก 1 ช้อนชา 
     <br>-เสาวรสชนิดผลแดง 1 ผลเนื้ออย่างเดียว (18กรัม ) 
     <br>-องุ่นแดง 2 ผล 
     <br>-สับปะรด 20 กรัม
     <br>-น้ำผึ้ง 1 ช้อนชา
     <br>-มูสลี่ 1 ช้อนโต๊ะ
     <br>-Greekโยเกิร์ตรสธรรมชาติ 120 กรัม
     <br>-เกลือเล็กน้อย
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. เริ่มด้วยการแช่เม็ดแมงลักให้พองตัวเต็มที่ด้วยน้ำร้อนเสียก่อน
     <br>2. จากนั้นหั่นองุ่น และ สับปะรดเป็นชิ้นเล็กๆ ใครมีผลไม้อย่างอื่น
     <br>ก็หั่นแบบเดียวกัน
     <br>3. จากนั้นเตรียมซอสเสาวรสด้วยการผ่าเสาวรสออก ขูดเอาเนื้อด้าน
      <br>ในออกด้วยช้อน
     <br>4. เติมน้ำผึ้ง และเกลือลงไป คนให้เข้ากันพักไว้ จากนั้นมาจัดพาร์เฟ่ต์กัน
        
 </font>    




  <br><br>
  
  <div class="has-text-centered"><font size = "5">Video</font></div>
  <div class="has-text-centered">
  <object width='425' height='355'>
<param name='movie' value='http://www.youtube.com/v/HpCZG6dZgU4'></param>
<param name='wmode' value='transparent'></param>
<embed src='http://www.youtube.com/v/HpCZG6dZgU4' type='application/x-shockwave-flash' wmode='transparent' width='425' height='355'></div>
</embed>
</object>
</div>

</div>

 
<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="#about"><b>ไม่มีกุ้ง</b></a>
           <a href="#services"><b>ไม่มีถั่ว</b></a>
           <a href="#clients"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="#contact"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       <div class="responsive">
 

  
  <div class="gallery">
    <a href="dessert13">
      <img src="assets/img/dessert/13.1.jpg" alt="Trolltunga Norway" width="600" height="400">
    </a>
    <div class="desc">พุดดิ้งเมล็ดเจีย</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert14">
      <img src="assets/img/dessert/14.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Mint Chocolate Chia Pudding</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert15">
      <img src="assets/img/dessert/15.2.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Chocolate Chia Seed Pudding</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert16">
      <img src="assets/img/dessert/16.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">กราโนลาเฮเซลนัทน้ำผึ้ง</div>
  </div>
</div>
</div>

<div class="clearfix"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

</main>


{% endblock %}