{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main> 
    
    <font face="TH SarabunPSK">

        <div class="has-text-centered"><font size = "6"><b>กราโนลาเฮเซลนัทน้ำผึ้ง</b></font>
  </div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/16.1.jpg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/16.2.jpg" alt="" width="350" height="500">
</div>
</div>

<div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>สูตรกลาโนลาที่จับน้ำผึ้งคลุกเคล้ากับธัญพืชอย่างข้าวโอ๊ต
     <br>ไข่ขาว น้ำมันมะกอก ถั่วเฮเซลนัท เพิ่มกลิ่นหอมด้วย
     <br>ผงอบเชยและกลิ่นวานิลลา ปรุงรสด้วยเกลือป่น
     <br>เสร็จแล้วก็นำไปอบจนเหลืองกรอบ นำออกมาผึ่งให้เย็น
     <br>จัดเสิร์ฟ กินเพียว ๆ ก็อร่อย หรือจะใส่นมสด
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม</font>
     <br>-ข้าวโอ๊ต 4 ถ้วย
     <br>-ถั่วเฮเซลนัทคั่ว (สับหยาบ ๆ) 1 ถ้วย
     <br>-ผงอบเชย 1 ช้อนชา
     <br>-เกลือป่น 1/4 ช้อนชา
     <br>-น้ำมันมะกอก 2 ช้อนโต๊ะ
     <br>-น้ำผึ้ง 1 1/2 ช้อนโต๊ะ
     <br>-กลิ่นวานิลลา 1 ช้อนชา
     <br>-ไข่ขาว 1 ฟอง
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. เปิดเตาอบที่อุณหภูมิ 290 องศาฟาเรนไฮต์ เตรียมไว้ 
     <br>2. ปูกระดาษสำหรับรองอบลงในถาดอบ ใส่ข้าวโอ๊ตและถั่วเฮเซลนัทลงไป
     <br>ตามด้วยผงอบเชย ปรุงรสด้วยเกลือป่น คลุกเคล้าให้เข้ากัน
     <br>3. ใส่น้ำมันมะกอก น้ำผึ้ง และกลิ่นวานิลลาลงไป 
     <br>คลุกเคล้าให้เข้ากัน เตรียมไว้
     <br>4. ตีไข่ขาวจนขึ้นฟูประมาณ 1 นาที แล้วใส่ลงไปในส่วนผสม
     <br>ข้าวโอ๊ตคนผสมให้เข้ากัน
     <br>5. เกลี่ยส่วนผสมกราโนลาให้กระจายทั่วถาดรองอบ 
     <br>นำเข้าอบประมาณ 20 นาทีก่อน พอครบเวลาแล้วนำออกมาพลิกกลับด้าน
     <br>จากนั้นนำเข้าอบต่อประมาณ 15 นาที จนกลายเป็นสีเหลืองทอง 
     <br>6. นำออกมาพักไว้ให้เย็นประมาณ 10 นาที พร้อมรับประทาน
     <br>
 </font>    
  </span>
</div>

<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       <div class="responsive">
 
  
  <div class="gallery">
    <a href="dessert12">
      <img src="assets/img/dessert/12.1.jpg" alt="Trolltunga Norway" width="600" height="400">
    </a>
    <div class="desc">Orange Muffin</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert11">
      <img src="assets/img/dessert/11.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">บราวนี่ถั่วแดง</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert10">
      <img src="assets/img/dessert/10.1.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Red Velvet Cookie</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert9">
      <img src="assets/img/dessert/9.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">พุดดิ้งนมสดกับสลัดแอปเปิ้ล</div>
  </div>
</div>
</div>

<div class="clearfix"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<div>
  <br><br><br>
</main>



</main>


{% endblock %}