{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main> 
   <font face="TH SarabunPSK">

        <div class="has-text-centered">
        <font size = "6"><b>Red Velvet Cookie</b></font>
 </div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/10.3.jpg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/10.2.jpg" alt="" width="350" height="500">
</div>
</div>

<div class="column middle" style="background-color:#ffffff;">

<font size = "5"> 
     <br>คุกกี้เรด เวลเว็ท สูตรขนมที่เหมาะกับคนควบคุมน้ำหนัก
     <br>เพราะใช้ข้าวโอ๊ตผสมบีทรูท แน่นอนว่าไม่อ้วน
     <br>อีกหนึ่งเมนูของหวานคลีนอร่อยได้ประโยชน์ ถูกใจสาว ๆ แน่นอน 
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม ของตัวพุดิ้ง</font>
     <br>-นมสดขาดมันเนย 250 ml 
     <br>-เจลลาตินแผ่น 1 แผ่น 
     <br>-ใบเตย 1ใบ 
     <br>-น้ำตาล Lite Sugar 1/2 ช้อนชา
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม คุกกี้ข้าวโอ๊ตบีทรูท</font>
     <br>-กล้วยหอม 2 ลูก
     <br>-ข้าวโอ๊ต 2 ถ้วย 
     <br>-แป้งโฮลวีท 150 กรัม
     <br>-น้ำเชื่อมไซรัป (หรือน้ำผึ้งก็ได้) 60 มิลลิลิตร
     <br>-นมอัลมอนด์ (นมสด หรือนมถั่วเหลือง) 1/2 ถ้วย
     <br>-วอลนัท (หรือถั่วอื่น ๆ) 1 ถ้วย
     <br>-ช็อกโกแลตชิพ 1 ถ้วย
     <br>-บีทรูท 50 กรัม
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. เปิดเตาอบที่อุณหภูมิ 190 องศาเซลเซียส
     <br>2. นำกล้วยหอมมาบดด้วยการใช้มือ หรือพายบดก็ได้
     <br>3. นำบีทรูทมาสับหรือปั่นแล้วคั้นน้ำออกมา
     <br>4. เอากล้วยหอม ข้าวโอ๊ต แป้งโฮลวีท น้ำเชื่อมไซรัป 
     <br>และนมอัลมอนด์ลงไปผสมให้เข้ากัน 
     <br>5. ใส่ถั่วและช็อกโกแลตชิพลงไปผสมคนให้เข้ากัน 
     <br>6. ใส่น้ำบีทรูทลงไป นวดให้เข้ากันอีกครั้ง 
     <br>7. นำที่ตักไอศกรีม หรือช้อนตักส่วนผสมคุกกี้วางลงถาดรองอบที่ปูกระดาษไข 
     <br>หรือแผ่นซิลิโคนแล้วเรียบร้อย
     <br>8. แต่งหน้าด้วยถั่ว หรือช็อกโกแลตชิพ
     <br>9. นำเข้าเตาอบที่อุณหภูมิ 180 องศาเซลเซียส ประมาณ 15-20 นาที
     <br>ขึ้นอยู่กับขนาดของคุกกี้ ทำเสร็จพร้อมเสิร์ฟ
     <br>
 </font>    
  </span>
</div>


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
          <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       <div class="responsive">
 

  
  <div class="gallery">
    <a href="dessert5">
      <img src="assets/img/dessert/5.1.jpg" alt="Trolltunga Norway" width="600" height="400">
    </a>
    <div class="desc">กล้วยบวดชีนมสด</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert6">
      <img src="assets/img/dessert/6.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">แพนเค้กข้าวโอ๊ตกล้วยหอม</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert7">
      <img src="assets/img/dessert/7.1.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">โยเกิร์ต พาร์เฟ่ต์</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert8">
      <img src="assets/img/dessert/8.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">โฮมเมดบัวลอยน้ำขิง</div>
  </div>
</div>
</div>

<div class="clearfix"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
 <div>
  <br><br><br>
  



</main>


{% endblock %}