{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main> 
     <font face="TH SarabunPSK">

        <div class="has-text-centered"><font size = "6"><b>Mint Chocolate Chia Pudding</b></font>
</div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/14.1.jpg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/14.2.jpg" alt="" width="350" height="500">
</div>
</div>

<div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>การแบ่งส่วนผสมเป็น 3 ชั้นของพุดดิ้งเมล็ดเจียมิ้นต์
     <br>ทำให้เพิ่มความน่าหม่ำมากขึ้นเยอะเลยค่ะ
     <br>สำหรับใครที่ไม่อยากใส่ผงโกโก้ก็สามารถตัดทอนส่วนผสมออกไปได้ 
     <br>แล้วคุณก็จะได้รสชาติใหม่แต่ก็ยังอร่อยสุขภาพดีเหมือนเดิมค่ะ 
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม พุดดิ้งเมล็ดเจีย </font>
     <br>-น้ำนมมะพร้าว (หรือนมอัลมอนด์) 1 1/4 ถ้วย
     <br>-เมล็ดเจีย (สีขาว) 1/4 ถ้วย
     <br>-ผงโกโก้ 2 ช้อนโต๊ะ
     <br>-เมเปิลไซรัป 1 ช้อนโต๊ะ
     <br>-วิปครีม กลิ่นมิ้นต์
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม ครีมมิ้นต์ </font>
     <br>-น้ำนมมะพร้าว (สูตรไม่หวาน)
     <br>-กลิ่นมินต์ 1/4 ช้อนชา 
     <br>-ผงชาเขียวมัทฉะ 1/2 ช้อนชา
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ พุดดิ้งเม็ดเจีย</font>
     <br>1. ตักส่วนบนของน้ำนมมะพร้าวที่ลอยข้นออกมา ประมาณ 1/2 ช้อนชา
     <br>ลงไปผสมกับผงชาเขียว ตีผสมให้เข้ากันด้วยความเร็วสูง 
     <br>ใช้เวลาประมาณ 3-5 นาที หรือจนกระทั่งขึ้นฟูเป็นวิปครีม
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ พุดดิ้งเม็ดเจีย</font>
     <br>1. ใส่เมล็ดเจีย น้ำนมมะพร้าว ผงโกโก้ และเมเปิลไซรัปลงไป
     <br>คนให้เข้ากันทุก ๆ 2 นาที (หรือใช้เวลาประมาณ 10-15 นาที) 
     <br>จนกว่าส่วนผสมจะเนียนคล้ายเนื้อพุดดิ้ง 
     <br>2. เตรียมภาชนะเพื่อใส่ส่วนผสมลงไปจำนวน 3 ชั้น
     <br>เริ่มจากเทส่วนผสมพุดดิ้งเมล็ดเจียลงไปในชั้นแรก
     <br>สลับกับวิปครีม กลิ่นมิ้นต์ ชั้นที่ 2 
     <br>แล้วใส่ส่วนผสมพุดดิ้งเมล็ดเจียในชั้นสุกท้ายจนเกือบเต็มแก้ว
     <br>

 </font>    
  </span>
</div>
<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
          <h1><b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       <div class="responsive">
 
 <div class="gallery">
    <a href="dessert4">
      <img src="assets/img/dessert/4.1.jpg" alt="Trolltunga Norway" width="600" height="400">
    </a>
    <div class="desc">Cranberry scones</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert3">
      <img src="assets/img/dessert/3.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">แพนเค้กสอดไส้ครีมงาดำรสช็อกโกแลต</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert2">
      <img src="assets/img/dessert/2.1.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Chocolate Coconut Flour Crepes</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert1">
      <img src="assets/img/dessert/1.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">Red Velvet Pancakes</div>
  </div>
</div>
</div>
<div class="clearfix"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<div>
  <br><br><br>



</main>


{% endblock %}