{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>   
     <font face="TH SarabunPSK">

        <div class="has-text-centered"><font size = "6"><b>พุดดิ้งนมสดกับสลัดแอปเปิ้ล</b></font>
   </div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/9.1.jpg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/9.2.jpg" alt="" width="350" height="500">
</div>
</div>

<div class="column middle" style="background-color:#ffffff;">
<font size = "5">
     <br>หน้าร้อนอากาศร้อน ใครๆก็คิดถึงขนมหวานๆเย็นๆชื่นใจ
     <br>นนี้มีขนมหวานที่ให้คุณค่าทางอาหารและมีพลังงานเพียงครึ่ง
     <br>เดียวมานำเสนอ แถมเป็นเมนูที่ทำง่ายไขมันต่ำ มีอุปกรณ์
     <br>และ วิธีการทำไม่ยุ่งยากอีกด้วย
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม ของตัวพุดิ้ง</font>
     <br>-นมสดขาดมันเนย 250 ml 
     <br>-เจลลาตินแผ่น 1 แผ่น 
     <br>-ใบเตย 1ใบ 
     <br>-น้ำตาล Lite Sugar 1/2 ช้อนชา
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม ของสลัดแอ็ปเปิ้ล</font>
     <br>-แอปเปิ้ลเขียว 30 กรัม 
     <br>-แอปเปิ้ลแดง 30 กรัม 
     <br>-แอปเปิ้ลฟูจิ 30 กรัม
     <br>-มะนาว 1/2 ผล
     <br>-น้ำตาล Lite Sugar 1/2 ช้อนชา
     <br>เกลือเล็กน้อย
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. แช่เจลลาตินแผ่นลงในน้ำอุณหภูมิห้อง 
     <br>2. นำนมขาดมันเนยใส่หม้อแล้วตั้งไฟ พร้อมใบเตยที่ฉีกเป็นท่อนๆ
     <br>3. เจลลาตินที่นิ่มแล้วลงไปคนให้เข้ากัน รอจนเดือดอ่อนๆคอยคนทั่วๆ
     <br>4. จากนั้นนำมาคนเพื่อคลายความร้อน ประมาณ 1 นาที  
     <br>เติมน้ำตาล Lite Sugar ลงไปคนให้ละลาย
     <br>นำมากรองด้วยกระชอนตาถี่ๆ ใสถ้วยแก้วทิ้งไว้ให้เย็นซักหน่อย
     <br>แล้วนำเข้าตู้เย็นพักไว้ 3-4 ชม
     <br>5. ทำสลัดแอปเปิ้ล โดยหั่นแอปเปิ้ลออกเป็นลูกเต๋าใส่ถ้วยผสม  
     <br>เติมเกลือเล็กน้อยเพื่อไม่ให้แอปเปิ้ลเปลี่ยนสี เติมน้ำตาล 
     <br>Lite sugar ลงไป บีบมะนาว เคล้าให้เข้ากันเบาๆ
     <br>6. ปิดด้วยพลาสติกแรปเก็บเข้าตู้เย็นเพื่อรอเวลาพุดดิ้งเซ็ทตัว
     <br>7. เตรียมเสิร์ฟ นำพุดดิ้งมาใส่ถ้วย เติมด้วยนมสดขาดมันเนยแล้วราดด้วยสลัด
     <br>แอ็ปเปิ้ลที่เตรียมไว้ หรือ ถ้าจะนำมาตัดเป็นชิ้นๆแล้วเติมสลัดแอปเปิ้ล
     <br>ใส่น้ำแข็งทานเป็นลอยแก้วก็ชื่นใจเช่นกัน หรือใครจะนำมาเติมธัญพืชต้มสุก
     <br>อย่างเม็ดแมงลัด ข้าวบาร์เลย์ ลงไป ก็อร่อยได้ประโยชน์อีกทาง
     <br>
 </font>    
  </span>
</div>


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="#about"><b>ไม่มีกุ้ง</b></a>
           <a href="#services"><b>ไม่มีถั่ว</b></a>
           <a href="#clients"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="#contact"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       <div class="responsive">
 

  
  <div class="gallery">
    <a href="dessert13">
      <img src="assets/img/dessert/13.1.jpg" alt="Trolltunga Norway" width="600" height="400">
    </a>
    <div class="desc">พุดดิ้งเมล็ดเจีย</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert14">
      <img src="assets/img/dessert/14.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Mint Chocolate Chia Pudding</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert15">
      <img src="assets/img/dessert/15.2.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Chocolate Chia Seed Pudding</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert16">
      <img src="assets/img/dessert/16.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">กราโนลาเฮเซลนัทน้ำผึ้ง</div>
  </div>
</div>
</div>

<div class="clearfix"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

 <div>
  <br><br><br><br><br><br><br><br>
  



</main>


{% endblock %}