{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main> 
    <font face="TH SarabunPSK">

        <div class="has-text-centered"><font size = "6"><b>บราวนี่ถั่วแดง</b></font>
 </div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/11.1.jpg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/11.2.jpg" alt="" width="350" height="500">
</div>
</div>

<div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>อยากผอมแต่อยากของหวาน และไม่อยากอ้วน ต้องหาของหวาน
     <br>อย่างบราวนี่คลีนๆ... ถึงจะคลีนแต่ก็อร่อยนร้า
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม </font>
     
     <br>-ถั่วแดงต้มสุก (แช่น้ำ1คืนก่อนนำมาต้ม) 2 ถ้วยตวง 
     <br>-ผงโกโก้ 1/3 ถ้วยตวง
     <br>-ไข่ไก่ 2 ฟอง
     <br>-น้ำมันมะพร้าว 1/3 ถ้วยตวง
     <br>-เบคกิ้งโซดา 1/2 ช้อนชา
     <br>-ผงฟู 2 ช้อนชา
     <br>-เกลือป่น 1/4 ช้อนชา
     <br>-น้ำผึ้ง 1/3 ถ้วยตวง
     <br>-กลิ่นวนิลา 1 ช้อนโต๊ะ
     <br>-เม็ดมะม่วงหิมพานต์/แอลมอนด์สไลด์ ปริมาณตามชอบ
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. วอร์มเตาอบ 180 c
     <br>2. นำไข่ น้ำมันมะพร้าว น้ำผึ้ง กลิ่นวนิลา ใส่โถปั่น
     <br>ปั่นให้เข้ากันเป็นสีเหลืองนวล จากนั้นตามด้วย ถั่วแดง ผงโกโก้
     <br>เบคกิ้งโซดา ผงฟู เกลือป่น ปั่นรวมกันจนเนียนละเอียด
     <br>3. เทลงถาดที่รองด้วยกระดาษไข หรือจะใช้พิมพ์มัฟฟิ่นก็ได้
     <br>โรยหน้าด้วยเม็ดมะม่วงหิมพานต์/แอลมอนด์สไลด์ นำเข้าอบ 25-30 นาที
     <br>4. ตัดเป็นชิ้นเสริฟ์ โรยหน้าด้วยนำ้ผึ้งบางๆและแอลมอนด์สไลด์
     <br>
 </font>    
  </span>
</div>


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       <div class="responsive">
 

  <div class="gallery">
    <a href="dessert20">
      <img src="assets/img/dessert/20.1.jpeg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">Healthy Yogurt Chocolate Coconut Tarts</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert19">
      <img src="assets/img/dessert/19.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Chocolate Stuffed Oatmeal Cookie</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert18">
      <img src="assets/img/dessert/18.2.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">เค้กบอลไส้กราโนล่า</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert17">
      <img src="assets/img/dessert/17.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">ไอศกรีมเมลอน</div>
  </div>
</div>
</div>

<div class="clearfix"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


 <div>
  <br><br><br><br><br><br><br>
  



</main>


{% endblock %}