{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main> 
    <font face="TH SarabunPSK">

        <div class="has-text-centered"><font size = "6"><b>Healthy Yogurt Chocolate Coconut Tarts</b></font>
 </div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/20.1.jpeg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/20.2.jpg" alt="" width="350" height="500">
</div>
</div>

<div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>ทาร์ตมะพร้าวเบี้ยว ๆ บูด ๆ หน้าโยเกิร์ตช็อกโกแลต
     <br>น้าตาน่ารับประทานมาก ไม่ต้องห่วงอ้วนเลย 
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม ทาร์ตมะพร้าว</font>
     
     <br>-มะพร้าวอบแห้ง (หรือมะพร้าวขูดฝอย) 1/2 ถ้วย
     <br>-ไข่ขาว 1 ฟอง
     <br>-น้ำผึ้ง 1/2 ช้อนโต๊ะ
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม ครีมโยเกิร์ตช็อกโกแลต</font>
     
     <br>-โยเกิร์ตรสธรรมดา ไม่ใส่น้ำตาล (หรือกรีกโยเกิร์ต) 1 ถ้วย
     <br>-ผงโกโก้แท้ 1 ช้อนโต๊ะ
     <br>-น้ำผึ้ง 1/2 ช้อนโต๊ะ
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ ทาร์ตมะพร้าว</font>
     <br>1. นำมะพร้าวอบแห้ง ไข่ขาว และน้ำผึ้ง มาผสมรวมกัน 
     <br>2. กรุลงพิมพ์ นำไปอบอุณหภูมิ 150 องศาเซลเซียส 
     <br>ประมาณ 15 นาที เสร็จแล้วปล่อยทิ้งไว้
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ ครีมโยเกิร์ตช็อกโกแลต</font>
     <br>1. นำทุกอย่างผสมให้เข้ากันแล้วเทใส่ทาร์ต แต่งหน้าตามใจชอบ
     <br>2. จะทานเลย หรือแช่ตู้เย็นก่อนก็ได้
     <br>
 </font>    

</div>

 
<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="#about"><b>ไม่มีกุ้ง</b></a>
           <a href="#services"><b>ไม่มีถั่ว</b></a>
           <a href="#clients"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="#contact"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       <div class="responsive">
 

  
  <div class="gallery">
    <a href="dessert13">
      <img src="assets/img/dessert/13.1.jpg" alt="Trolltunga Norway" width="600" height="400">
    </a>
    <div class="desc">พุดดิ้งเมล็ดเจีย</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert14">
      <img src="assets/img/dessert/14.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Mint Chocolate Chia Pudding</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert15">
      <img src="assets/img/dessert/15.2.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Chocolate Chia Seed Pudding</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert16">
      <img src="assets/img/dessert/16.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">กราโนลาเฮเซลนัทน้ำผึ้ง</div>
  </div>
</div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="food16">
      <img src="assets/img/food/16.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>โจ๊กข้าวโอ๊ตกุ้ง</h4></div>
  
  </div>
</div>


<div class="clearfix"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<div>
  <br><br><br>


</main>


{% endblock %}