{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main> 
    <font face="TH SarabunPSK">

        <div class="has-text-centered"><font size = "6"><b>พุดดิ้งเมล็ดเจีย</b></font>
 </div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/13.2.jpg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/13.1.jpg" alt="" width="350" height="500">
</div>
</div>

<div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
     <br>พุดดิ้งเมล็ดเจีย(Chia Pudding) สูตรทำง่ายสูตรนี้ใช้
     <br>ส่วนผสมแค่ 3 อย่างเท่านั้นเอง  หลัก ๆ คือ น้ำนมมะพร้าว 
     <br>เมล็ดเจีย และน้ำผึ้ง แค่ใส่ 3 อย่างก็ได้ขนมหวานเพื่อสุขภาพ
     <br>ไปอีกมื้อแล้ว สำหรับคนไม่อยากทานน้ำนมมะพร้าวหรือที่บ้าน
     <br>ไม่มีน้ำนมมะพร้าวก็สามารถใส่นมอัลมอนด์ผสมโยเกิร์ตลงไปได้ 
     <br>สำหรับคนที่ไม่อยากกินพุดดิ้งเพียว ๆ ก็เลือกท็อปปิ้งพวกผลไม้ 
     <br>ธัญพืช หรือถั่วใส่ได้ตามชอบเลย   
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม พุดดิ้งเมล็ดเจีย </font>
     <br>-น้ำนมมะพร้าว 400 กรัม (หรือนมอัลมอนด์ใส่โยเกิร์ต
     <br>รสธรรมชาติลงไปเล็กน้อยเพื่อทำให้ข้นขึ้น)
     <br>-เมล็ดเจีย 1/4 ถ้วย 
     <br>-น้ำผึ้ง 1 ช้อนโต๊ะ 
     <br>-กลิ่นวานิลลา 1 ช้อนชา (ใส่หรือไม่ใส่ก็ได้)
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม ท็อปปิ้ง </font>
     <br>-แบล็คเบอร์รี 
     <br>-โกจิเบอร์รี 
     <br>-มะพร้าวอบแห้ง 
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. นำน้ำนมมะพร้าว เมล็ดเจีย น้ำผึ้ง และกลิ่นวานิลลา 
     <br>คนผสมให้เข้ากัน
     <br>2. เทใส่ลงในขวดโหลปิดฝาหรือภาชนะที่มีฝาปิด
     <br>3. นำไปแช่ตู้เย็นไว้ข้ามคืน
     <br>4. เสิร์ฟท็อปปิ้งด้วยแบล็กเบอร์รี โกจิเบอร์รี  
     <br>และมะพร้าวอบแห้ง
     <br>
 </font>    
  </span>
</div>

<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       <div class="responsive">
 

  <div class="gallery">
    <a href="dessert20">
      <img src="assets/img/dessert/20.1.jpeg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">Healthy Yogurt Chocolate Coconut Tarts</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert19">
      <img src="assets/img/dessert/19.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Chocolate Stuffed Oatmeal Cookie</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert18">
      <img src="assets/img/dessert/18.2.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">เค้กบอลไส้กราโนล่า</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert17">
      <img src="assets/img/dessert/17.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">ไอศกรีมเมลอน</div>
  </div>
</div>
</div>

<div class="clearfix"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<div>
  <br><br><br>



</main>


{% endblock %}