{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main> 

<font face="TH SarabunPSK">

        <div class="has-text-centered"><font size = "6"><b>โฮมเมดบัวลอยน้ำขิง</b></font>
  </div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/8.2.jpg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/8.1.jpg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/8.3.jpg" alt="" width="350" height="500">
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/8.4.jpg" alt="" width="350" height="500">
</div>
</div>

<div class="column middle" style="background-color:#ffffff;">
<font face="MN Uthong">
<font size = "5"> 
     <br>เพื่อให้บัวลอยน้ำขิงสูตรนี้ เป็นของว่างที่ดีต่อสุขภาพ จึงเปลี่ยนมา
     <br>ใช้ความหวานจากน้ำตาลธรรมชาติที่ให้ค่า GI ไม่สูงมากนัก อย่าง 
     <br>น้ำตาลโตนด และ น้ำตาลทรายแดงชนิดไม่ผ่านกระบวนการ ลดปริมาณน้ำตาล
     <br>จากสูตรปรกติลงครึ่งนึง ใครที่ชอบกลิ่นหอมๆ รสชาติเผ็ดร้อนของน้ำขิง
     <br>ลองนำไปทำกันดูได้เลย
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม ของไส้งาดำสำหรับทำบัวลอยน้ำขิง
</font>
     <br>-น้ำตาลโตนด 1 ช้อนโต๊ะ
     <br>-งาดำคั่ว บดละเอียด 50 กรัม
     <br>-เกลือเล็กน้อย
     <br>-น้ำเล็กน้อย(เติมกรณีแห้งเกินไป)
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ ไส้งาดำ</font>
     <br>1. นำน้ำตาลมาคลุกกับงาดำ ผสมให้เข้ากัน นำเข้าไมโครเวฟ 
     <br>1 นาที ให้น้ำตาลละลาย
     <br>2. นำมาคนและคลุกเคล้าให้เข้ากัน ถ้าแห้งไปให้เติมน้ำลงไปได้เล็กน้อย
     <br>3. แล้วนำเข้าไมโครเวฟอีก ครึ่ง นาที ดูให้ไส้จับตัวกันเป็นใช้ได้ พักไว้ 
     <br>แล้วไปจัดเตรียมผสมแป้งกัน
     <br>
          <br><font size = "6"> &emsp;&emsp;ส่วนผสม ของตัวแป้งบัวลอย
</font>
     <br>-แป้งข้าวเหนียว 70 กรัม
     <br>-แป้งข้าวเจ้า 20 กรัม
     <br>-น้ำเปล่า 1 ถ้วยตวง
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ แป้งบัวลอย</font>
     <br>1. ผสมแป้งทั้งสองอย่างเข้าด้วยกันในชามผสม ค่อยๆเติมน้ำทีละ
     <br>น้อยลงตรงกลางกองแป้ง
     <br>2. จากนั้นใช้มือนวดให้แป้งเป็นก้อน ถ้าแป้งแห้งไปให้เติมน้ำได้แต่
     <br>เติมทีละน้อยนะคะ ถ้าพลาดแฉะไปให้เพิ่มแป้งได้ค่ะ
     <br>3. เมื่อแป้งเรียบร้อนก็ไปปั้น ห่อ และหุ้มไส้งาดำ
     <br>4. หยิบแป้งขึ้นมาขนาดประมาณผลมะนาวเล็กๆ แผ่แป้งออกบางๆ
     <br>5. ตักไส้งาที่เตรียมไว้ วางลงบนแผ่นแป้ง แล้วหุ้มให้มิด อย่าให้เห็นไส้งา
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม ของน้ำขิง
</font>
     <br>-น้ำเปล่า 2 ถ้วยตวง
     <br>-น้ำตาลทรายแดงชนิดไม่ผ่านกระบวนการ 2 ช้อนโต๊ะ 
     <br>-option สำหรับคนชอบหวานแต่ไม่ชอบพลังงาน 
     <br>เติมน้ำตาลหญ้าหวานลงไป 1/4 ช้อนชา
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ น้ำขิงสำหรับใส่ในบัวลอย</font>
     <br>1. นำส่วนผสมของนำ้และน้ำตาลทรายแดงใส่ลงในหม้อ เติมหญ้าหวาน
     <br>2. จากนั้นหั่นขิงแก่ออกเป็นแว่นๆใส่ลงไป สำหรับคนที่ชอบรสชาติจัดจ้าน
     <br>เผ็ดร้อน ให้บุขิงให้แตกก่อนเพื่อให้ขิงออกรสและกลิ่นมากขึ้น
     <br>3. นำหม้อขึ้นตั้งไฟ รอให้เดือด ช้อนฟองทิ้งแล้วปิดไฟ
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ การต้มบัวลอย</font>
     <br>1. ตั้งน้ำให้ระดับน้ำสูงกว่าขนาดของลูกบัวลอย รอให้น้ำเดือด 
     <br>2. จากนั้นเตรียมถ้วยอีกใบใส่น้ำอุณภูมิห้องเอาไว้
     <br>3. แล้วค่อยๆหย่อนบัวลอยที่ใส่ไส้แล้วลงต้ม เมื่อสุกตัวบัวลอยจะลอยขึ้น
     <br>4. จากนั้นตักขึ้นใส่ไว้ในชามน้ำที่เตรียมไว้ แล้วเตรียมเสิร์ฟได้เลย
        
 </font>    
  
  <div class="has-text-centered"><font size = "5">Video</font></div>
  <div class="has-text-centered">
  <object width='425' height='355'>
<param name='movie' value='http://www.youtube.com/v/ArLAlE_Lvd8'></param>
<param name='wmode' value='transparent'></param>
<embed src='http://www.youtube.com/v/ArLAlE_Lvd8' type='application/x-shockwave-flash' wmode='transparent' width='425' height='355'></div>
</embed>
</object>
</div>
</div>

<font face="TH SarabunPSK">
 <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="food-1"><b>ไม่มีกุ้ง</b></b></a>
           <a href="food-2"><b>ไม่มีถั่ว</b></a>
           <a href="food-3"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="food-4"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>

  <div class="responsive">
 <div class="gallery">
    <a href="dessert20">
      <img src="assets/img/dessert/20.1.jpeg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc">Healthy Yogurt Chocolate Coconut Tarts</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert19">
      <img src="assets/img/dessert/19.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Chocolate Stuffed Oatmeal Cookie</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert18">
      <img src="assets/img/dessert/18.2.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">เค้กบอลไส้กราโนล่า</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert17">
      <img src="assets/img/dessert/17.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">ไอศกรีมเมลอน</div>
  </div>
</div>
</div>

<div class="clearfix"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

<br><br><br><br><br>

</main>


{% endblock %}