{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>    
    <font face="TH SarabunPSK">
       
<div class="has-text-centered">
<font size = "6"><b>Chocolate Coconut Flour Crepes</b></font></div>
 

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/2.1.jpg" alt="" width="350" height="500">
  
  <br>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<img src="assets/img/dessert/2.2.jpg" alt="" width="350" height="500">
</div>
</div>

<div class="column middle" style="background-color:#ffffff;">


     <font size = "5">
     <br>เครปช็อกโกแลต (Chocolate Coconut Flour Crepes)
     <br>เมนูนี้ใช้แป้งมะพร้าวและไข่ขาว ทำให้จัดเป็นเมนูไฟเบอร์สูงไข่มันต่ำ
     <br>เนื้อสัมผัสอาจจะแห้ง ๆ ไม่นุ่มเหนียวเหมือนการใช้แป้งปกติและไข่แดง
     <br>แต่ว่าเพื่อสุขภาพที่ดีแล้วถือว่าทดแทนกันได้นะคะ ยอม !
     <br>
     <br><font size = "6"> &emsp;&emsp;ส่วนผสม เครปช็อกโกแลต</font>
     <br>-แป้งมะพร้าว 1 ช้อนโต๊ะ
     <br>-ไข่ขาว 2 ฟอง (พอดีเหลือจากทำขนมไทย)
     <br>-ผงฟู 1/8 ช้อนชา 
     <br>-นมพร่องมันเนย 2+1/2 ช้อนโต๊ะ
     <br>-ผงโกโก้ 1/2 ช้อนโต๊ะ
     <br>-กลิ่นวานิลา นิดหน่อย
     <br>
     <br><font size = "6"> &emsp;&emsp;วิธีทำ</font>
     <br>1. ผสมส่วนผสมทุกอย่างให้เข้ากัน เตรียมไว้
     <br>2. ตั้งกระทะเทฟลอนใช้ไฟอ่อน ใช้น้ำมันหรือเนย
     <br>เช็ดกระทะเทฟลอนนิด ๆ พอกระทะเริ่มอุ่น ๆ ไปทางร้อน
     <br>เทส่วนผสมแล้วกลิ้งกระทะให้ส่วนผสมเป็นแผ่นกลม ๆ
     <br>พอสุกแล้วพลิกกลับด้าน ก็จะได้แผ่นเครปที่พร้อมทาน
     <br>ในสูตรฟิล์มไม่ได้ใส่น้ำผึ้งลงไปเพราะว่าเอามาราดทานคู่กับโยเกิร์ต
     <br>กับผลไม้ เพราะอยากได้อะไรฉ่ำ ๆ ให้ตัดกับเนื้อเครปหน่อย
     <br>แต่ใครอยากผสมน้ำผึ้งลงไปในเนื้อแบทเทอร์เลยก็ได้นะคะ
  </font> 
</div>

 
<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1> <b>Recipe key</b></h1>
           <h4><a href="#about"><b>ไม่มีกุ้ง</b></a>
           <a href="#services"><b>ไม่มีถั่ว</b></a>
           <a href="#clients"><b>ไม่มีเนื้อสัตว์</b></a>
           <a href="#contact"><b>ไม่มีไข่</b></a></h4>
         </div>
       </div>
       <div class="responsive">
 

  
  <div class="gallery">
    <a href="dessert13">
      <img src="assets/img/dessert/13.1.jpg" alt="Trolltunga Norway" width="600" height="400">
    </a>
    <div class="desc">พุดดิ้งเมล็ดเจีย</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert14">
      <img src="assets/img/dessert/14.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc">Mint Chocolate Chia Pudding</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert15">
      <img src="assets/img/dessert/15.2.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc">Chocolate Chia Seed Pudding</div>
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="dessert16">
      <img src="assets/img/dessert/16.1.jpg"alt="Mountains" width="600" height="400">
    </a>
    <div class="desc">กราโนลาเฮเซลนัทน้ำผึ้ง</div>
  </div>
</div>
</div>


<div class="clearfix"></div>

<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
 </span>  
  
<br><br><br><br

</main>


{% endblock %}