<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8"> 
  <title>Clean Food</title>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">  
     	<link rel="stylesheet" href="menu.css">
      <link rel="stylesheet" href="/assets/home.css">
   {% block stylesheet %}  {% endblock %}

</head>
<body>

	{% include 'layout/header.twig' ignore missing %}


	{% block content %}

	{% endblock %}

</body>
</html>