<header>

<font face="Bodoni MT">
<div class="footer">
  <div class="container-has-centered">
  <div class="tags-has-text-centered">
    CLEAN FOOD <br>
  <span class="tag">FOOD</span>
  <span class="tag">DRINK</span>
  <span class="tag">DESSERT</span>
  </div>
  </div>
</div>

</header>
