<header>
	<nav class="navbar-tabs">
		<div class="column has-text-left">
		<img src="/assets/img/logo.png" alt="" width="450" height="auto">
	</div>
				<a href="#" class="navbar-item">MENU</a>
				<a href="#" class="navbar-item">RESTAURANTS</a>
				<a href="#" class="navbar-item">TRICK</a>
				<a href="#" class="navbar-item">NEWS</a>
				&emsp;&emsp;<a href="#" class="navbar-item">search <img src="/assets/img/search.png" alt="" width="30" height="auto"></a>
				<a href="#" class="navbar-item"><img src="/assets/img/facebook.png" alt="" width="30" height="auto"></a>
			
	</nav>

		<div class="has-text-centered"> 
			<img src="/assets/img/line.png" alt="" width="1500" height="auto">
		</div>


</header>
