<header>
</style>


<div class="content">
 <font face="Prompt">
<nav class="navbar is-white">
  <div class="navbar-brand">
    <a class="navbar-item" href="home">
      <img src="assets/img/logo14.png" width="250" height="28">
    </a>

    <div class="navbar-burger burger" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
        <div class="navbar-end">
      <div class="navbar-item has-dropdown is-hoverable">
  <a class="navbar-link " href="">
          MENU
        </a>
        <div class="navbar-dropdown is-boxed">
          <a class="navbar-item " href="food-11">
            FOOD
          </a>
          <a class="navbar-item " href="drink-1">
            DRINK
          </a>
          <a class="navbar-item " href="dessert-1">
            DESSERT
          </a>
    </div>
  </div>
      <a class="navbar-item " href="restaurants-11">
       RESTAURANT
      </a>
      <a class="navbar-item " href="trick">
      TRICK
      </a>
       <a class="navbar-item " href="news-1">
      NEWS
      </a>
    </div>
  <a class="nav-item" href="#">
       <!-- HTML for SEARCH BAR -->
  <div id="tfheader">
    <form id="tfnewsearch"  target="_blank" action="http://www.google.com">
            <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
    </form>
 
  </div>
  </a>
</nav>
<p>




</head>




</header>
