{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
<meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"> <!--bulma web mobli-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/home.css"> 
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<style>
* {
    box-sizing: border-box;
}

body
 {
  margin: 0;
}
div.thick {
    font-weight: ;
}
div.light {
    font-weight: lighter;
}
div.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
.header {
    background-color:#F0FFF0;
    padding: 20px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 85%;
}

.right {
  width: 15%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

div.gallery {
    border: 1px solid #ffffff;
}



div.gallery:hover {
    border: 1px solid#DCDCDC;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}

/* Add padding BETWEEN each column */

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 0px;
    float: left;
    width: 100%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 50px 10;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

p {
    border-bottom: 4px solid#B3EE3A;
    background-color: lightgrey;
}
.content {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 10px;
}
body {
    margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
}

.left  {
  width: 82%;
}

.right {
  width: 18%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* เลื่อนขึ้นข้างบน */

#myBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#9ACD32;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  
}

#myBtn:hover {
  background-color: #BCEE68;
}

{% endblock %}

{% block content %}

  <main>
 

   <div class="row">
  <div class="column left" style="background-color:#ffffff;">
    <font face="TH SarabunPSK">
    <div class="is-size-3">

   <div class="has-text-centered ">
   <b>อะโวคาโด สรรพคุณล้น ลดอ้วนลงพุง ปราบไขมันในเลือดอยู่หมัด</b><br>
 <div class="is-size-4">
   <b>อะโวคาโด สรรพคุณเปี่ยมล้น ช่วยทั้งลดเปอร์เซ็นต์ไขมันในร่างกาย ลดระดับคอเลสเตอรอลในเลือด แถมยังป้องกันอ้วนลงพุงได้อีก
</b>
  </div>
  </div>
</div>
  <br>
   <div class="is-size-4">
  แค่อ้วนลงพุงก็เสี่ยงต่อโรคเรื้อรังหลายโรค ทั้งเบาหวาน ความดัน โรคหัวใจ เพราะสาเหตุของการอ้วนลงพุงเกิดมาจากไขมันที่สะสมในร่างกาย ซึ่งเป็นไขมันชนิดไม่ดีต่อสุขภาพซะด้วย ดังนั้นหากเราลดเปอร์เซ็นต์ไขมันในร่างกายลงได้ ปริมาณคอเลสเตอรอลในเลือดก็คงจะลดลง เช่นเดียวกับปัญหาโรคอ้วนลงพุงที่ก็คงจะลดลงด้วยเช่นกัน แต่วิธีที่จะทำให้เราลดความเสี่ยงต่อโรคและความอ้วนลงพุงได้ทั้งหมดที่กล่าวมานั้น ควรทำอะไรบ้าง บอกเลยว่าไม่ยาก แค่กินอะโวคาโดเท่านั้นเอง</div>

     <div class="is-size-4">
  <br>
   <center><img src="assets/img/News/18.2.jpg" alt="Trolltunga Norway" width="1000" height="auto"></center>
   <br>
 
 
          <div style="text-indent: 2.5em;">    ข้อมูลนี้ไม่ได้มาลอย ๆ ค่ะ การันตีสรรพคุณอะโวคาโดจากนักวิจัยชาวอิหร่านที่ทำการวิจัยและบันทึกผลไว้ที่วารสาร Phytotherapy Research กันเลย โดยนักวิจัยได้รีวิวข้อมูลจากงานวิจัยเกี่ยวกับสรรพคุณอะโวคาโดถึง 129 งานวิจัย เพื่อเปรียบเทียบและศึกษาความเกี่ยวข้องของอะโวคาโดกับการลดปัญหาอ้วนลงพุง ทั้งในส่วนการทดลองที่ใช้เนื้ออะโวคาโดล้วน ๆ รวมไปถึงงานวิจัยที่ทำการทดลองทั้งใบอะโวคาโด เปลือกอะโวคาโด น้ำมันอะโวคาโดสกัด และเมล็ดอะโวคาโดด้วย 

          </div>
          <br>
             <div style="text-indent: 2.5em;">    ซึ่งจากการเก็บข้อมูลงานวิจัยทั้งหมดทั้งมวล นักวิจัยก็พบว่า อะโวคาโดมีสรรพคุณเด่นในการช่วยลดระดับคอเลสเตอรอลในเลือด และการกินผลไม้รสมันชนิดนี้ก็ดันมีผลต่อระดับไขมันชนิดเลวในเลือด (LDL) ไขมันชนิดดีในเลือด (HDL) ระดับไตรกลีเซอไรด์ เปอร์เซ็นต์ไขมันรวมในเลือด และกรดไขมันรวมทั้งหมดในร่างกาย...ในทางที่ดีซะด้วย

          </div>
          <br>
<center><img src="assets/img/News/18.3.jpg" alt="Trolltunga Norway" width="1000" height="auto"></center>
<br>

          <div style="text-indent: 2.5em;"> เพราะผลการวิจัยที่ผ่าน ๆ มาแสดงให้เห็นอย่างเด่นชัดแล้วว่า การกินอะโวคาโดทุกวันมีส่วนช่วยลดไขมัน ลดความดันโลหิต ลดความเสี่ยงโรคเบาหวาน ความเสี่ยงโรคอ้วน ความเสี่ยงโรคหัวใจหลอดเลือด และโรคเรื้อรังต่าง ๆ ที่เกิดจากภาวะอ้วนลงพุง ที่สำคัญการทดลองกับกลุ่มตัวอย่าง 30 คนที่มีระดับไขมันในเลือดปกติ กับกลุ่มตัวอย่าง 37 คนที่มีไขมันในเลือดสูงกว่าปกติเล็กน้อย เมื่อไดเอตร่วมกับการทานอะโวคาโด 1 สัปดาห์ก็พบว่า ค่า LDL คอเลสเตอรอล และไตรกลีเซอไรด์ลดลงอย่างมีนัยสำคัญ 
</div>
  <div style="text-indent: 2.5em;">  ซึ่งนักวิจัยได้อธิบายกลไกการลดไขมันในร่างกายของอะโวคาโดไว้ว่า ผลไม้ชนิดนี้มีส่วนในการควบคุมการย่อยสลายกรดไขมันในร่างกาย และควบคุมการทำงานของตับและตับอ่อนในส่วนของการเลือกดูดซึมไขมันและการเผาผลาญไขมัน อีกทั้งยังมีส่วนช่วยสร้างเซลล์ในตับที่ส่งผลให้เอนไซม์สำหรับสังเคราะห์ไขมันในร่างกายมีจำนวนเพิ่มขึ้น เกิดการเผาผลาญไขมันได้ดีขึ้นด้วย
</div>
  <div style="text-indent: 2.5em;">   นอกจากนี้งานวิจัยยังเผยข้อมูลสำคัญมาด้วยว่า อะโวคาโดมีส่วนในการช่วยลดน้ำหนัก ยืนยันจากผลการทดลองในผู้ใหญ่ที่มีน้ำหนักตัวเกินและเป็นโรคอ้วน กินอะโวคาโดวันละ 1 ผล ติดต่อกัน 6 สัปดาห์ ซึ่งพบว่าน้ำหนักตัวของกลุ่มอาสาลดลง รวมไปถึงดัชนีมวลรวม (BMI) และเปอร์เซ็นต์ไขมันในร่างกายก็ลดลงอย่างมีนัยสำคัญเช่นกัน อีกทั้งยังมีอีกงานวิจัยที่แสดงให้เห็นว่า คนที่กินอะโวคาโดเป็นประจำจะมีน้ำหนักตัวและรอบเอวต่ำกว่าคนที่ไม่ได้กินอะโวคาโดเลย แม้กลุ่มที่กินอะโวคาโดจะไม่ได้กินอาหารไขมันสูงน้อยลงก็ตาม

</div><br>
<center><img src="assets/img/News/18.3.jpg" alt="Trolltunga Norway" width="1000" height="auto"></center>
<br>

          <div style="text-indent: 2.5em;"> <b>นั่นแสดงให้เห็นว่า อะโวคาโดสามารถช่วยเราป้องกันภาวะอ้วนลงพุง ภาวะพุงปลิ้น และช่วยลดเปอร์เซ็นต์ไขมันชนิดไม่ดีในร่างกายได้จริง ๆ </b>เพราะผลไม้ชนิดนี้อุดมไปด้วยกรดไขมันอิ่มตัวเชิงเดี่ยว ซึ่งเป็นไขมันชนิดที่ดีต่อร่างกาย เมื่อรับประทานเข้าไปแล้ว ไขมันชนิดนี้จะเข้าไปเพิ่มระดับคอเลสเตอรอลชนิดที่ดีในร่างกายและทำให้ไขมันชนิดที่ไม่ดีอย่างคอเลสเตอรอล LDL และไตรกลีเซอไรด์ในเลือดลดลง 
</div>
  <div style="text-indent: 2.5em;">   อีกทั้งกรดไขมันอิ่มตัวเชิงเดี่ยวในอะโวคาโดยังจะช่วยชะลอการไหลเวียนของน้ำตาลในเลือด พร้อมกับลดภาวะต้านอินซูลินในร่างกาย และกรดไขมันอิ่มตัวเชิงเดี่ยวยังช่วยเพิ่มความรู้สึกอิ่มหลังมื้ออาหาร แถมยังดีต่อความดันโลหิต และระบบป้องกันการอักเสบได้อีกต่างหากนะ
</div>
 <b> <div style="text-indent: 2.5em;">    เห็นชัดแล้วใช่ไหมคะว่าสรรพคุณของอะโวคาโดเด็ดดวงขนาดไหน ดังนั้นใครยังไม่เคยคิดจะลิ้มลองอะโวคาโดเลยสักครั้งในชีวิต ตอนนี้เปลี่ยนความคิดก็ยังทัน มากินอะโวคาโดวันละ 1 ผลกันเถอะ

</div>
</div>
</div>

<div class="column right" style="background-color:#ffffff;">
    <div class=is-size-2>NEWS</div>
    <div class=is-size-5>ข่าวสารที่คุณไม่ควรพลาด</div>
<div class="responsive">
  <div class="gallery">
    <a href="news1">
      <img src="assets/img/news/1.1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>โรคคลั่งกินคลีน อาการป่วยทางจิตของคนเสพติดอาหารคลีนเกินไป</h4></div>

</div></div>

<div class="responsive">
  <div class="gallery">
    <a href="news2">
      <img src="assets/img/news/2.1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>ลดน้ำหนักต้องรู้จัก 4 เทรนด์มาแรงในแบบฉบับคลีนฟู้ด</h4></div>
   
</div></div>

<div class="responsive">
  <div class="gallery">
    <a href="news3">
      <img src="assets/img/news/3.2.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>ล้วงความลับ ดาราตัวเด็ดดังรักสุขภาพ พร้อมวิธีทำคลีนฟู้ดง่าย ๆ</h4> </div>
    
</div></div>

<div class="responsive">
  <div class="gallery">
    <a href="news4">
      <img src="assets/img/news/4.1.jpg" alt="Trolltunga Norway" width="300" height="200">
    </a>
    <div class="desc"><h4>หมกมุ่นกับเมนูอาหารเพื่อสุขภาพมากเกินไป ใช่ว่าจะดี</h4></div>

  
</div>
</div>

<div class="clearfix"></div>

</div>
</div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>

  </main>


{% endblock %}