{% extends 'layout/base.twig' %}

{% block stylesheet %}
 	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
 	
<meta name="viewport" content="width=device-width">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css"> <!--bulma web mobli-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/home.css"> 
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
<style>
* {
    box-sizing: border-box;
}

body
 {
  margin: 0;
}
div.thick {
    font-weight: ;
}
div.light {
    font-weight: lighter;
}
div.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}
/* Style the header */
.header {
    background-color:#F0FFF0;
    padding: 20px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
}

.left {
  width: 85%;
}

.right {
  width: 15%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .column.side, .column.middle {
        width: 100%;
    }
}

div.gallery {
    border: 1px solid #ffffff;
}



div.gallery:hover {
    border: 1px solid#DCDCDC;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}

/* Add padding BETWEEN each column */

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0 0px;
    float: left;
    width: 100%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 50px 10;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

p {
    border-bottom: 4px solid#B3EE3A;
    background-color: lightgrey;
}
.content {
    max-width: 1200px;
    margin: auto;
    background: white;
    padding: 10px;
}
body {
    margin: 0;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: auto; /* Should be removed. Only for demonstration */
}

.left  {
  width: 82%;
}

.right {
  width: 18%;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}



/* เลื่อนขึ้นข้างบน */

#myBtn {
  display: none;
  position: fixed;
  bottom: 25px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color:#9ACD32;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  
}

#myBtn:hover {
  background-color: #BCEE68;
}

{% endblock %}

{% block content %}

  <main>
  

  <div class="row">
  <div class="column left" style="background-color:#ffffff;">
    <font face="TH SarabunPSK">
    <div class="is-size-3">

   <div class="has-text-centered ">
   <b>หน่อไม้ฝรั่ง สรรพคุณเหลือล้ำ ขอย้ำว่าต้องกิน !</b><br>
 <div class="is-size-4">
   <b>หน่อไม้ฝรั่ง หรือภาษาอังกฤษเรียกว่า Asparagus ผักกรุบกรอบชนิดนี้มีประโยชน์ต่อสุขภาพหลายอย่าง <br>ทั้งช่วยบรรเทาอาการไม่สบาย และช่วยบำรุงดูแลสุขภาพก็ได้ เจ๋งไม่เบาเลย</b>
  </div>
  </div>
</div>
  <br>
   <div class="is-size-4">
  ผักที่มีความกรุบกรอบอย่างหน่อไม้ฝรั่งก็มีดีไม่แพ้ใคร และหากใครยังไม่มั่นใจว่าเรารู้จักสรรพคุณของหน่อไม้ฝรั่งครบหรือยัง กระปุกดอทคอมจะขออาสาทำหน้าที่นำเสนอประโยชน์ของหน่อไม้ฝรั่งให้ทุกคนได้รู้ซึ้งในวันนี้ แล้วจะรู้เลยว่า หน่อไม้ฝรั่งก็มีดีต่อสุขภาพของเราหลากหลายด้านเลยนะ แต่ก่อนจะไปว้าว ! กับสรรพคุณของหน่อไม้ฝรั่ง เรามาทำความรู้จักหน่อไม้ฝรั่งเพิ่มขึ้นอีกนิดกันดีกว่าค่ะ</div>

     <div class="is-size-4">
  <br>
   <center><img src="assets/img/News/17.2.jpg" alt="Trolltunga Norway" width="1000" height="auto"></center>
   <br>
 
         <b>หน่อไม้ฝรั่งกับความเป็นมา</b> <br>
 
          <div style="text-indent: 2.5em;">      หน่อไม้ฝรั่ง มีชื่อภาษาอังกฤษว่า Asparagus ชื่อทางวิทยาศาสตร์คือ Asparagus officinalis หน่อไม้ฝรั่งเป็นพืชพื้นเมืองทางแถบยุโรปและแอฟริกา ส่วนลักษณะทางพฤกษศาสตร์ของหน่อไม้ฝรั่งเป็นพืชผักที่มีลำต้นแบ่งเป็น 2 ส่วน คือ ส่วนลำต้นใต้ดิน และส่วนลำต้นเหนือดิน 

          </div>
           <b><div style="text-indent: 2.5em;">     ลำต้นใต้ดินจะเป็นระบบรากรวมหรือเหง้า มีลักษณะเป็นแท่งคล้ายดินสอ ซึ่งยอดอ่อนหรือหน่ออ่อนที่เรานำมารับประทานกันก็เป็นส่วนที่เจริญมาจากเหง้า และหากปล่อยให้หน่ออ่อนเจริญเติบโตไปจะกลายเป็นลำต้นเหนือดิน มีความสูงประมาณ ​1.5-2 เมตร

          </div></b>
           <div style="text-indent: 2.5em;">      ส่วนลำต้นเหนือดินจะมีใบเป็นเกล็ดบาง ๆ ติดอยู่ตามข้อ ส่วนที่เห็นเป็นลักษณะคล้ายเส้นขนจริง ๆ แล้วเป็นใบของหน่อไม้ฝรั่งเองค่ะ และหน่อไม้ฝรั่งก็มีดอกนะคะ เป็นขนาดเล็ก ๆ ติดอยู่ตามกิ่งก้านเป็นจำนวนมาก ส่วนผลก็มีด้วยเช่นกัน โดยผลจะมีลักษณะกลม ขนาดเล็ก มีสีเขียวเมื่ออ่อน และมีสีแดงส้มเมื่อสุก และในผลก็มีเมล็ดอยู่ 2-3 เม็ดด้วย
          </div>
                   <div style="text-indent: 2.5em;">    <b> ทั้งนี้หน่อไม้ฝรั่งที่เรานำมาบริโภคกันก็มีอยู่ด้วยกัน 2 ชนิดคือ หน่อไม้ฝรั่งสีขาว ซึ่งเป็นชนิดที่จะเก็บเมื่อหน่อโผล่พ้นดินมาประมาณ​ 1 เซนติเมตร</b> นิยมนำไปทำหน่อไม้ฝรั่งกระป๋องหรือครีมซุป และหน่อไม้ฝรั่งสีเขียว ซึ่งจะเก็บเกี่ยวก็ต่อเมื่อหน่ออ่อนแทงพ้นดินมาประมาณ 15-22 เซนติเมตร เป็นหน่อไม้ฝรั่งชนิดที่บ้านเรานิยมนำมาผัด มาทอด หรือปรุงเป็นอาหารกันนั่นเอง
          </div>
           <div style="text-indent: 2.5em;">     และแม้หน่อไม้ฝรั่งจะเป็นพืชพื้นเมืองทางฝั่งยุโรปและแอฟริกา ทว่าในบ้านเราก็หากินไม่ยากนะคะ เพราะมีแหล่งปลูกหน่อไม้ฝรั่งอยู่แถวประจวบคีรีขันธ์ เพชรบุรี ราชบุรี ชลบุรี และนนทบุรีค่ะ
          </div>
          <br>
<center><img src="assets/img/News/17.3.jpg" alt="Trolltunga Norway" width="1000" height="auto"></center>
<br>
<b>คุณค่าทางโภชนาการของหม่อไม้ฝรั่งดิบ (ปริมาณ 100 กรัม)</b><br>

            <div style="text-indent: 2.5em;">- พลังงาน 20 กิโลแคลอรี</div>
          <div style="text-indent: 2.5em;"> - คาร์โบไฮเดรต 3.38 กรัม </div>
         <div style="text-indent: 2.5em;"> - โปรตีน 2.20 กรัม </div>
          <div style="text-indent: 2.5em;"> - ไขมันทั้งหมด 0.12 กรัม</div>
          <div style="text-indent: 2.5em;">- คอเลสเตอรอล 0 มิลลิกรัม</div>
          <div style="text-indent: 2.5em;"> - ไฟเบอร์ 2.1 กรัม</div>
            <div style="text-indent: 2.5em;"> - โฟเลต 52 ไมโครกรัม</div>
           <div style="text-indent: 2.5em;">  - ไนอะซิน 0.978 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - ไรโบฟลาวิน 0.141 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - ไทอะมิน 0.143 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - วิตามินซี 5.6 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - วิตามินเอ 756 IU</div>
            <div style="text-indent: 2.5em;"> - วิตามินอี 1.13 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - วิตามินเค 41.6 ไมโครกรัม</div>
            <div style="text-indent: 2.5em;"> - โซเดียม 2 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - โพแทสเซียม 202 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - แคลเซียม 24 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - ทองแดง 0.189 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - เหล็ก 1.14 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - แมกนีเซียม 14 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - แมงกานีส 0.158 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - ฟอสฟอรัส 52 มิลลิกรัม</div>
            <div style="text-indent: 2.5em;"> - เซเลเนียม 2.3 ไมโครกรัม</div>
            <div style="text-indent: 2.5em;"> - สังกะสี 0.54 มิลลิกรัม</div><br>

<center><img src="assets/img/News/17.4.jpg" alt="Trolltunga Norway" width="1000" height="auto"></center>
<br>
<b>ประโยชน์ของหน่อไม้ฝรั่ง
</b><br>
<b>1. ช่วยลดน้ำหนัก</b>

          <b><div style="text-indent: 2.5em;">     ข้อมูลจากสภากาชาดไทย ระบุว่า กะหล่ำปลีสายพันธุ์ที่ปลูกในไทยสามารถยับยั้งหรือป้องกันการเกิดมะเร็งเต้านมได้ เนื่องจากในผักประเภทหัวชนิดนี้มีซิลิเนียมค่อนข้างสูง ซึ่งซิลิเนียมก็มีคุณสมบัติในการช่วยกำจัดอนุมูอิสระ นอกจากนี้ยังพบว่าสารอาหารในกะหล่ำปลีมีคุณสมบัติช่วยกระตุ้นเอนไซม์ที่มีหน้าที่กำจัดสารพิษออกจากร่างกาย ช่วยลดโอกาสที่เซลล์จะเปลี่ยนเป็นเซลล์มะเร็งได้
</div></b>
          <div style="text-indent: 2.5em;">     ข้อมูลจากสภากาชาดไทย ระบุว่า กะหล่ำปลีสายพันธุ์ที่ปลูกในไทยสามารถยับยั้งหรือป้องกันการเกิดมะเร็งเต้านมได้ เนื่องจากในผักประเภทหัวชนิดนี้มีซิลิเนียมค่อนข้างสูง ซึ่งซิลิเนียมก็มีคุณสมบัติในการช่วยกำจัดอนุมูอิสระ นอกจากนี้ยังพบว่าสารอาหารในกะหล่ำปลีมีคุณสมบัติช่วยกระตุ้นเอนไซม์ที่มีหน้าที่กำจัดสารพิษออกจากร่างกาย ช่วยลดโอกาสที่เซลล์จะเปลี่ยนเป็นเซลล์มะเร็งได้
</div>
<b>2. ปรับสมดุลลำไส้
</b>
          <div style="text-indent: 2.5em;">      หน่อไม้ฝรั่งเป็นผักที่มีคาร์โบไฮเดรตชนิดอินนูลิน เป็นหนึ่งในสารประเภทฟรุกโตสโตโอลิโกแซคคาไรด์ ให้รสหวานคล้ายน้ำตาล แต่จะไม่ถูกย่อยในระบบทางเดินอาหารจึงไม่เพิ่มระดับน้ำตาลอินนูลิน ด้วยเหตุนี้หน่อไม้ฝรั่งจึงมีส่วนช่วยเพิ่มแบคทีเรียชนิดดีในลำไส้ พร้อมกันนั้นก็ช่วยยับยั้งการเพิ่มจำนวนของแบคทีเรียชนิดไม่ดีในลำไส้ ส่งผลให้ความเสี่ยงอาการท้องร่วง หรืออาการลำไส้แปรปรวนลดลง
</div>
<b>3. ลดอาการท้องอืด</b>
            <div style="text-indent: 2.5em;">     ไฟเบอร์ในหน่อไม้ฝรั่งมีส่วนช่วยส่งเสริมการทำงานของระบบย่อยอาหาร อีกทั้งคาร์โบไฮเดรตชนิดฟรุกโตสโตโอลิโกแซคคาไรด์ยังให้โพรไบโอติกกับลำไส้ ปรับสมดุลแบคทีเรียในลำไส้ จึงช่วยลดกรดและแก๊สในกระเพาะอาหาร แก้อาการท้องอืด ท้องเฟ้อได้สบาย ๆ 
</div>
</b><b>4. ช่วยบำรุงสุขภาพทางเดินปัสสาวะ
</b>
          <div style="text-indent: 2.5em;">     หน่อไม้ฝรั่งมีกรดอะมิโนชนิดหนึ่งที่ชื่อว่า แอสพาราจีน มีฤทธิ์เป็นยาขับปัสสาวะจากธรรมชาติ จึงช่วยร่างกายขับน้ำส่วนเกินและโซเดียมออกไปพร้อมกับปัสสาวะได้ โดยเฉพาะสาว ๆ ที่ปัสสาวะยาก หรือชอบกลั้นปัสสาวะจนเสี่ยงโรคกระเพาะปัสสาวะอักเสบ กินหน่อไม้ฝรั่งเข้าไปก็จะเข้าห้องน้ำง่ายขึ้นค่ะ
</div>
          <br>
<img src="assets/img/News/17.5.jpg" alt="Trolltunga Norway" width="10000" height="auto">
<br>
<b>5. แก้เมาค้าง</b>

          <div style="text-indent: 2.5em;">      กรดอะมิโนและแร่ธาตุที่มีอยู่ในหน่อไม้ฝรั่งมีสรรพคุณช่วยยับยั้งอนุมูลอิสระ และกระตุ้นเอนไซม์ที่ทำหน้าที่ย่อยแอลกอฮอล์ในร่างกายให้ทำงานเพิ่มขึ้นเป็น 2 เท่า อีกทั้งหน่อไม้ฝรั่งยังมีสรรพคุณช่วยขับปัสสาวะในระดับหนึ่ง จึงช่วยระบายแอลกอฮอล์ที่ค้างอยู่ในร่างกายได้อีกทาง แก้อาการเมาค้างได้ง่าย ๆ</div>
          <div style="text-indent: 2.5em;">     ข้อมูลจากสภากาชาดไทย ระบุว่า กะหล่ำปลีสายพันธุ์ที่ปลูกในไทยสามารถยับยั้งหรือป้องกันการเกิดมะเร็งเต้านมได้ เนื่องจากในผักประเภทหัวชนิดนี้มีซิลิเนียมค่อนข้างสูง ซึ่งซิลิเนียมก็มีคุณสมบัติในการช่วยกำจัดอนุมูอิสระ นอกจากนี้ยังพบว่าสารอาหารในกะหล่ำปลีมีคุณสมบัติช่วยกระตุ้นเอนไซม์ที่มีหน้าที่กำจัดสารพิษออกจากร่างกาย ช่วยลดโอกาสที่เซลล์จะเปลี่ยนเป็นเซลล์มะเร็งได้</div>
<b>6. บำรุงผิวพรรณ
</b>
          <div style="text-indent: 2.5em;">      เห็นหน่อไม้ฝรั่งเงียบ ๆ แต่วิตามินอีเพียบนะจ๊ะ และวิตามินอีเหล่านี้ก็จัดเป็นสารต้านอนุมูลอิสระชนิดหนึ่ง ซึ่งนอกจากจะช่วยบำรุงดูแลผิวพรรณ กำจัดสารอนุมูลอิสระแล้ว ยังมีสรรพคุณช่วยกระตุ้นระบบภูมิคุ้มกันในร่างกายเราด้วยนะ อ้อ ! และเพื่อการดูดซึมวิตามินซีจากหน่อไม้ฝรั่งให้เต็มที่มากที่สุด นักโภชนาการก็แนะนำให้กินหน่อไม้ฝรั่งคู่กับน้ำมันมะกอกด้วยนะคะ<br>
<b>7. บำรุงครรภ์</b>
            <div style="text-indent: 2.5em;">     ไหน่อไม้ฝรั่งจัดเป็นอาหารบำรุงครรภ์ที่ดีชนิดหนึ่ง เพราะหน่อไม้ฝรั่ง (ทำให้สุก) 1 ทัพพี ให้โฟเลตสูงถึง 60.8 ไมโครกรัมเชียวนะคะ ซึ่งเจ้าโฟเลตนี้ก็มีประโยชน์ในด้านช่วยป้องกันความพิการของทารกในครรภ์ อีกทั้งยังช่วยบำรุงเลือด บำรุงสมอง และเป็นสารสำคัญต่อการสร้างและซ่อมแซมส่วนที่สึกหรอของร่างกายด้วยนะ นั่นแปลว่าต่อให้ไม่ใช่หญิงตั้งครรภ์ การรับประทานโฟเลตก็สำคัญกับร่างกายไม่น้อยเลยทีเดียวล่ะ</div>
<b>8. บำรุงสมอง</b>
          <div style="text-indent: 2.5em;">     อย่างที่บอกค่ะว่าโฟเลตมีสรรพคุณช่วยบำรุงสมองและระบบประสาท ซึ่งในหน่อไม้ฝรั่งก็มีโฟเลตอยู่สูงเช่นกัน ดังนั้นอยากสมองใสปิ๊ง ไม่เสี่ยงต่อโรคสมองเสื่อม ก็รับประทานหน่อไม้ฝรั่งกันเถอะ 
</div>
<b>9. ช่วยดูดซึมแคลเซียม
</b>
          <div style="text-indent: 2.5em;">    ในหน่อไม้ฝรั่งมีวิตามินเค ที่เป็นสารช่วยให้ร่างกายดูดซึมแคลเซียมจากอาหารและเครื่องดื่มได้ดีขึ้น อีกทั้งวิตามินเคยังดีต่อระบบไหลเวียนเลือดในร่างกาย มีส่วนช่วยให้เลือดมีความแข็งตัว  คนที่เลือดไหลไม่หยุด หรือไหลแล้วหยุดยาก กรณีนี้วิตามินเคในหน่อไม้ฝรั่งก็จะช่วยให้เลือดแข็งตัวและหยุดไหลได้ดีขึ้น
</div>

<center><img src="assets/img/News/17.6.jpg" alt="Trolltunga Norway" width="1000" height="auto"></center>
<br>
<b>10. ช่วยให้อารมณ์ดี</b>
            <div style="text-indent: 2.5em;">    โฟเลตในหน่อไม้ฝรั่งก็มีส่วนช่วยปรับสมดุลอารมณ์ของเราเช่นกัน โดยมีการศึกษาพบว่า ผู้ป่วยโรคซึมเศร้าที่ได้รับโฟเลตในจำนวนที่เพียงพอต่อความต้องการของร่างกาย จะมีความสุขมากกว่าผู้ป่วยที่ไม่ได้รับโฟเลตเลย นอกจากนี้นักโภชนาการยังให้ข้อมูลเพิ่มเติมว่า ในหน่อไม้ฝรั่งไม่ได้มีเพียงโฟเลตและวิตามินบีที่ดีต่อสารเคมีในสมองเท่านั้น แต่ยังพกทริปโตเฟน กรดอะมิโนที่ช่วยเพิ่มความสุขให้ร่างกายมาด้วย</div>
<b>11. ลดความเสี่ยงโรคหัวใจ</b>
          <div style="text-indent: 2.5em;"> ด้วยความที่หน่อไม้ฝรั่งมีสารต้านอนุมูลอิสระสูง และยังมีกลูต้าไธโอน ซึ่งถูกขนานนามว่าเป็นเจ้าแห่งสารต้านอนุมูลอิสระทั้งปวง เหตุผลนี้จึงทำให้หน่อไม้ฝรั่งมีสรรพคุณช่วยป้องกันโรคหัวใจไปด้วยในตัว

</div>
<b>12. ช่วยปลุกอารมณ์ทางเพศ
</b>
          <div style="text-indent: 2.5em;">   คู่รักคู่ไหนที่เรื่องบนเตียงมีอาการแผ่ว ๆ ไม่ค่อยหวือหวาจนความสุขที่อยู่ด้วยกันเริ่มลดลง ลองปรุงเมนูหน่อไม้ฝรั่งกินสักหน่อยดีไหมคะ เพราะหน่อไม้ฝรั่งเป็นยาโด๊ปจากธรรมชาติ ที่มีโฟเลตและวิตามินบี 6 เป็นตัวเสริมให้อารมณ์รักติดไฟได้ง่ายขึ้นไปอีก นอกจากนี้วิตามินอีในหน่อไม้ฝรั่งยังมีส่วนช่วยกระตุ้นฮอร์โมนเพศ ทั้งเอสโตรเจนในเพศหญิงและเทสโทสเตอโรนในเพศชายเลยล่ะ !

</div>
<b>วิธีเลือกซื้อหน่อไม้ฝรั่ง
</b>
          <div style="text-indent: 2.5em;">   แนะนำให้เลือกซื้อหน่อไม้ฝรั่งที่ยังอ่อน ลำต้นแน่นตรง หน่อต้องสด กรอบ ปลายแห้งและไม่บานออก โดยวิธีสังเกตง่าย ๆ คือ หากส่วนโคนของต้นมีเสี้ยน ๆ ยาวเกิน 15% ของความยาวทั้งหมด แสดงว่าเป็นหน่อที่แก่เกินไป แต่ถ้ามีเสียงดังเอี๊ยดเวลาบีบทั้งกำแบบเบา ๆ แปลว่าหน่อยังสดอยู่ นอกจากนี้หน่อไม้ฝรั่งที่เลือกควรต้องไม่มีโรคและแมลง รอยช้ำ หรือแตกหักด้วยนะคะ 

</div>
<b> <div style="text-indent: 2.5em;">   อ้อ ! และหากซื้อหน่อไม้ฝรั่งมาแล้วควรรีบนำไปปรุงอาหารโดยทันทีจะดีที่สุด เพราะหากเก็บไว้นาน หน่อจะช้ำและแห้งได้ง่าย ไม่น่ารับประทาน
</div></b><br>

<img src="assets/img/News/17.7.jpg" alt="Trolltunga Norway" width="10000" height="auto">
<b>เมนูหน่อไม้ฝรั่ง</b></br>

          <b><div style="text-indent: 2.5em;">  หน่อไม้ฝรั่งมีประโยชน์เหลือล้ำขนาดนี้จะปล่อยผ่านไปง่าย ๆ ได้ยังไง ลองมาทำเมนูหน่อไม้ฝรั่งกินกันดีกว่า</div></b>
          <b>โทษของหน่อไม้ฝรั่ง</b>
          <div style="text-indent: 2.5em;">  เหรียญยังมีสองด้าน หน่อไม้ฝรั่งก็มีทั้งคุณและโทษเช่นเดียวกันค่ะ โดยโทษของหน่อไม้ฝรั่งก็มีดังนี้ </div>
           <div style="text-indent: 2.5em;"> - ปัสสาวะมีกลิ่นเหม็นรุนแรง</div>
            <div style="text-indent: 2.5em;"> ในระหว่างกระบวนการย่อยหน่อไม้ฝรั่งจะเกิดแก๊สซัลเฟอร์ออกมา ส่งผลให้ปัสสาวะมีกลิ่นเหม็นเขียวอย่างรุนแรง และแม้จะกดชักโครกเรียบร้อยแล้วกลิ่นเหม็นเขียวก็อาจจะตามมาหลอ­­­กหลอนได้อีกสักพัก ฉะนั้นหากกินหน่อไม้ฝรั่งเข้าไปก็พยายามหาห้องน้ำที่เงียบสงบไม­­­่ค่อยมีคนเข้าดีกว่า กลิ่นเหม็นเขียวในปัสสาวะจะได้ไม่เป็นภาระใครเนอะ</div>
             <div style="text-indent: 2.5em;"> - ไม่ดีต่อสุขภาพผู้ป่วยไทรอยด์</div>
              <div style="text-indent: 2.5em;">- กระตุ้นความรุนแรงของโรคเกาต์</div>
               <div style="text-indent: 2.5em;">  ในส่วนของผู้ป่วยโรคเกาต์เราไม่ถึงกับห้ามกินหน่อไม้ฝรั่งค่ะ แต่พยายามลดปริมาณการกินให้น้อยลงจะดีกว่า โดยรับประทานได้ครั้งละ 1 ถ้วยตวงต่อวัน ความถี่ก็ประมาณ 4 ครั้งต่อสัปดาห์หรือน้อยกว่านั้น เนื่องจากหน่อไม้ฝรั่งมีพิวรีนค่อนข้างสูง ซึ่งอาจไปกระตุ้นอาการปวดข้อในผู้ป่วยโรคเกาต์ได้</div>
          <br>
<img src="assets/img/News/17.8.jpg" alt="Trolltunga Norway" width="10000" height="auto">
<b>หน่อไม้ฝรั่งกินดิบได้ไหม</b><br>

          <div style="text-indent: 2.5em;">
         ถ้าจะกินหน่อไม้ฝรั่งดิบ ๆ คงไม่ค่อยจะเวิร์กเท่าไรนะคะ เพราะหน่อไม้ฝรั่งสดจะมีกลิ่นเขียวหน่อย ๆ ไม่น่าอร่อยเท่าไร แถมยังอาจมีรสขมเฝื่อน ๆ อีกด้วย นอกจากนี้ขอย้ำอีกทีว่าหน่อไม้ฝรั่งเป็นผักที่มีเปลือกผิวแข็งทั้งเปลือกและเนื้อใน ดังนั้นควรปรุงให้สุกในระดับพอดีก่อนรับประทาน เพื่อให้ร่างกายเราดูดซึมสารอาหารจากหน่อไม้ฝรั่งได้อย่างเต็มที่ ย้ำอีกครั้งว่าหน่อไม้ฝรั่งกินดิบ ๆ ไม่แนะนำ กินแบบปรุงสุกดีกว่าจ้า
</div>

         <b><div style="text-indent: 2.5em;">  ประโยชน์ของหน่อไม้ฝรั่งมีเยอะ แต่ก็ไม่ใช่ว่าเราควรจะกินแต่หน่อไม้ฝรั่งนะคะ เพราะอะไรที่มากไปก็ไม่ดีแน่ ๆ ดังนั้นหากไม่ค่อยจะกินเลย ก็อยากให้เพิ่มเมนูหน่อไม้ฝรั่งเข้าไปในชีวิตประจำวันบ้าง ร่วมกับรับประทานอาหารให้ครบ 5 หมู่ และที่สำคัญควรเลือกกินอาหารที่หลากหลาย เพื่อให้ร่างกายได้รับสารอาหารอย่างครบถ้วนด้วย
</div></b>   
</div>
</div>
</div>
 
<div class="column right" style="background-color:#ffffff;">
    <div class=is-size-2>NEWS</div>
    <div class=is-size-5>ข่าวสารที่คุณไม่ควรพลาด</div>
<div class="responsive">
  <div class="gallery">
    <a href="news5">
      <img src="assets/img/news/5.1.jpg" alt="Forest" width="600" height="400">
    </a>
    <div class="desc"><h4>10 ประโยชน์ดีๆ จากต้นหอม อาหารเพื่อสุขภาพ</h4></div>
   
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="news6">
      <img src="assets/img/news/6.1.jpg" alt="Northern Lights" width="600" height="400">
    </a>
    <div class="desc"><h4>5 อาหารเพื่อสุขภาพ แค่ทานก่อนนอน ก็ช่วยให้หลับสบาย</h4></div>
   
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="news7">
      <img src="assets/img/news/7.2.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>6 อาหารเพื่อสุขภาพ กินลดน้ำหนักได้ผล ดีแบบนี้จะพลาดได้ไง</h4></div>
   
  </div>
</div>

<div class="responsive">
  <div class="gallery">
    <a href="news8">
      <img src="assets/img/news/8.1.jpg" alt="Mountains" width="600" height="400">
    </a>
    <div class="desc"><h4>4 กุญแจสำคัญสู่การ “ลดน้ำหนัก” ให้ได้ผล</h4></div>
    <br>
  </div>
</div>

<div class="clearfix"></div>

</div>
</div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>
// When the user scrolls down 20px from the top of the document, show the button
window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}

// When the user clicks on the button, scroll to the top of the document
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>


  </main>


{% endblock %}