{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>ORGANIC SUPPLY</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/organicsupply.bkk/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/organicsupply.bkk/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/organicsupply.bkk/">Organic Supply</a></blockquote></div>


<br>
<br><font size = "4">
<br>ราคา 101 - 250 บาท
<br>ที่อยู่   148 ถ.นาคนิวาส กรุงเทพมหานคร (ร้านอยู่ตรงข้ามซอยนาคนิวาส 7 ประตูกระจกไม้ๆ)  
<br>เวลาเปิด-ปิด : เปิดทุกวัน 10.00-20.00
<br>เบอร์โทรศัพท์ :02-101-6410    
<br>Line ID: makeithappenjuice
<br>E-mail: makeithappenjuice@gmail.com</font> 
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1Wd5CMtpNU2JWuPoO7AT59hxm_L-nx06L" width="350" height="300"></iframe>



 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;ร้าน Organic Supply คือคำตอบสำหรับคนที่รักสุขภาพและอยากปลอดภัยจากสารพิษรอบๆตัวด้วย ผลิตภัณฑ์ที่มาจากธรรมชาติและดีต่อสุขภาพ
<br><br>&emsp;&emsp;จุดเด่นของร้านนี้เลยคือวัสดุดิบที่ดูเป็นมิตรต่อสุขภาพหลายอย่าง เมนูเด็ดๆของที่นี่มีหลายอย่างไม่ว่าจะเป็นสมูทตี้ที่มีให้เลือกหลากรส กินคู่กับของหวานที่ใช้วัสดุดิบเพื่อสุขภาพหวานไม่เยอะแต่อร่อยอย่างบอกไม่ถูก ขนมปังที่นี่ก็อร่อยซื้อกลับไปที่บ้านทากับอะไรก็อร่อย อบนิดๆมีความหอมนุ่ม อร่อยทั้งรสกล้วย ฝักทองที่แทรกเข้าไปในขนมปังสุดๆดีเหมือนกัน ปล. ร้านนี้จอดได้ที่ลานจอดหรือจอดข้างทางแต่ต้องถามกับทางร้านว่าจอดได้ฝั่งไหนเพราะตำรวจอาจล็อคล้อได้ 

<br>
<br>&emsp;&emsp;เมนูเด็ด: Vegan Bread (Pumpkin), Super Berry Smoothies, wholewheat banana walnut bread




</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

        <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}