{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>August Organic Eatery Mercury ville</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/AugustOrganicEatery/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/AugustOrganicEatery/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AugustOrganicEatery/">August Organic Eatery</a></blockquote></div>
<br>
<br><font size = "4">
<br>ที่อยู่  ถนน เพลินจิต (ชั้น 3 Mercurry ville) ลุมพินี , ปทุมวัน , กรุงเทพมหานคร 
<br>โทรศัพท์ 022522423 
<br>เวลาเปิด/ปิด 10.00-21.30
<br>ราคา  100-300 บาท
 </font> 
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1Z6KpAZ0CEp6UeOIyWmhYa9DkfQIEceTD" width="350" height="300"></iframe>



 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;August Organic Eatery พร้อมเสิร์ฟเมนูออร์แกนิกฟิวชั่นจากวัตถุดิบคุณภาพดีเอาใจคนรักสุขภาพ ภายในร้านตกแต่งสไตส์ยุโรปตะวันตก พร้อมเพิ่มความสบายตาด้วยต้นไม้สีเขียว เข้ากับโทนสีของเฟอร์นิเจอร์และโทนสีร้าน สีขาวและสีฟ้าครามเป็นหลักที่ให้ความรู้สึกอบอุ่นและเป็นกันเอง โดยทางร้านเลือกใช้กระจกบานใหญ่ เพื่อรับแสงธรรมชาติและดูโล่งสบายตา

<br>

<br>&emsp;&emsp;เมนูแนะนำ สปาเก็ตตี้กุ้งซอสเพสโต้ ซึ่งเป็นซอสโหระพาสมุนไพรชั้นเลิศของเรานั่นเอง หอมทุกคำ ที่เสริมด้วยกุ้งเนื้อแน่นจากเกษตรอินทรีย์คัดมาอย่างดีปลอดสารเคมีครับ เคล็ดลับสุขภาพอยู่ที่การปรุงเมนูต่างๆ
ด้วยดอกเกลือบริสุทธิ์ น้ำมันมะกอกออร์แกนิก และผักออร์แกนิกจากกลุ่มส่งเสริมกสิกรรมไร้สารพิษ วังน้ำเขียว





</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}