{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b> Broccoli Revolution </b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/broccolirevolution/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/broccolirevolution/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/broccolirevolution/">BROCCOLI REVOLUTION</a></blockquote></div>
<br>
<br><font size = "4">
<br>ที่อยู่  899 ถนน สุขุมวิท แขวง คลองตันเหนือ เขต วัฒนา กรุงเทพมหานคร 10110
<br>เวลาเปิด/ปิด  9:00–22:00
<br>โทรศัพท์  0952519799, 026625001 
<br>ราคา  100-500
 </font> 
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1_k6wyTrR-xJrDlJ-OBVFPWF32Wfz0t9D" width="350" height="300"></iframe>



 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;Broccoli Revolution เป็นร้านอาหารเพื่อสุขภาพที่นำเสนอเมนูอาหารฟิวชั่นและเครื่องดื่มที่ล้วนทำมาจากวัตถุดิบผักและผลไม้ปลอดสารเคมีจากธรรมชาติเท่านั้น โดยไม่ใช้เนื้อสัตว์และผงชูรสเลยแม้แต่น้อย เปรียบเหมือนการปฏิวัติวงการอาหารแบบเล็กๆด้วยผักสมกับชื่อของร้านที่แปลว่า “การปฏิวัติบรอคโคลี่”
ร้านนี้เหมาะกับคนชอบกินสายคลีนมากๆจริง เพราะอาหารนอกจากจะผัก&ธัญพืชมากแล้ว รสชาติยังไม่ค่อยจัดจ้านด้วย


<br>

<br>&emsp;&emsp;เมนู Tofu satay ประกอบด้วย เต้าหู้กับแตงกวาย่าง ส่วนน้ำจิ้มมีน้ำจิ้มสะเต๊ะกับน้ำอาจาด ต้องบอกว่าจานนี้รสชาติแปลกไปอีกแบบ แต่อร่อยมากเช่นกัน เต้าหู้หวานนุ่มไม่กรอบมากรสอ่อน แต่เป็นแตงหวานี้สิที่มีรสเข้มข้นไม่เหมือนใคร ส่วนน้ำจิ้มทั้งสองอย่างออกธรรมดาไม่น่าตื่นตาเท่าไร น้ำจิ้มจะอร่อยกว่าอาจาดเล็กน้อย




</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

          <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}