{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>EzyDiet</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/EzyDiet/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/EzyDiet/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/EzyDiet/">EzyDiet สุขภาพดีมีได้ไม่ต้องอด อาหารเพื่อสุขภาพ</a></blockquote></div>
<br>
<br><font size = "4">
<br>ที่อยู่ 245/25 หมู่บ้านสัมมากรซอย28 รามคำแหง 110 กรุงเทพมหานคร  
<br>ร้านเปิดบริการ วันจันทร์ พุธ ศุกร์
<br>สนใจสอบถามรายละเอียดเพิ่มได้ที่เบอร์ 094-669-9366
<br>หรือทาง Line ID: @EZYDIET </font> 
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1Ck-SyIDO4xTz7Pe79QHzo2X-CJ1EvM0l" width="350" height="300"></iframe>



 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;จากจุดเริ่มต้นเล็กๆของคนที่มีปัญหาด้านสุขภาพ ร่างกายที่ไม่ค่อยแข็งแรง และน้ำหนักที่มากเกิน จนทำให้ตัดสินใจเดินเข้าสู่หนทางการลดน้ำหนักที่ผิดวิธี ทั้งการอดอาหารและทานยาลดน้ำหนักจนสุขภาพเริ่มแย่ หลังจากรู้ว่าสิ่งที่ทำมาไม่ใช่สิ่งที่ถูกต้องและยั่งยืน จึงเริ่มต้นกลับมาศึกษา และค้นคว้าหาความรู้ในด้านโภชนาการใหม่ทั้งหมด จนค้นพบเคล็ดลับและวิธีการที่ถูกต้องในการดูแลสุขภาพ ซึ่งปัจจัยที่มีผลมากที่สุดในการดูแลสุขภาพและรูปร่างก็คือ อาหารที่ทานไปในแต่ละมื้อนั้นเอง แต่ทั้งหมดนั้นไม่ใช่เรื่องง่ายเลยกับการใช้ชีวิตในยุคปัจจุบัน ที่ในแต่ละวันจะสามารถจัดสรรและดูแลการรับประทานได้อย่างถูกหลักและได้รับสารอาหารอย่างครบถ้วน

<br>

<br>&emsp;&emsp;เหตุนี้ EzyDiet จึงเกิดขึ้น ด้วยความตั้งใจที่ว่า สุขภาพดีมีได้ ไม่ต้องอด เราพร้อมจะเป็นผู้ช่วยคนสำคัญที่จะช่วยดูแลโภชนาการด้านการรับประทานอาหาร ให้ครบถ้วนและถูกหลัก พอกันทีกับความทรมาณในการอดอาหารเพื่อลดน้ำหนักและดูแลสุขภาพ EzyDiet จะทำให้คุณเปลี่ยนความคิดใหม่ ยิ่งทาน ยิ่งผอม เราพร้อมคัดสรรวัตถุดิบที่ดีที่สุด และอำนวยความสะดวกเพื่อให้ทุกท่านมีสุขภาพที่แข็งแรงและรูปร่างที่ดี




</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

  <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
  
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}