{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>CORO Harvest</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/coroharvest/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/coroharvest/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/coroharvest/">CORO Harvest</a></blockquote></div>
<br>
<br><font size = "4">
<br>ตั้งอยู่ที่ ชั้น G เอสพลานาด รัชดา ถนน รัชดาภิเษก ดินแดง , ดินแดง , กรุงเทพมหานคร 
<br>เบอร์ติดต่อ 02-660-9341 เวลาเปิดบริการ ทุกวัน : 10:00 - 22:00 
<br>website : https://www.facebook.com/coroharvest/
 </font> 
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1jnYisC9Q-PJe_28CdSnsBhdHfpGLgx_e" width="350" height="300"></iframe>


 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;“ร้านอาหาร เครื่องดื่มและขนมเพื่อสุขภาพ ส่งตรงจากฟาร์มราชบุรี มาแล้วห้ามพลาด “มันม่วงลาวาพร้อมไอศกรีม” โดยรวมอร่อย ตกแต่งจานมาสวยงาม มีมันม่วง, โมจิมันม่วง ส่วนตัวไส้มันม่วงอร่อย ไม่หวานมาก ไหลเยิ้มดีงาม เมนูที่ร้านมีอีกหลายเมนูน่าลอง คิดว่าต้องกลับมาลองอีกแน่นอนค่ะ” (โดยคุณ ploypineappz) 




</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

          <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}