{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>TipTop คลีนฟู้ด Delivery</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/TiptopCleanFoodDelivery/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/TiptopCleanFoodDelivery/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/TiptopCleanFoodDelivery/">TipTop คลีนฟู้ด Delivery</a></blockquote></div>
<br>
<br><font size = "4">
<br>ที่อยู่: 11/155 ซอยลาดปลาเค้า 36 ถนนลาดปลาเค้า แขวงจรเข้บัว เขตลาดพร้าว กรุงเทพมหานคร 10230
<br>สนใจสอบถามรายละเอียดเพิ่มได้ที่: 098-418-4814
<br>ร้านเปิดบริการ: ทุกวัน 
<br>website:  www.tiptopcleanfooddelivery.com
 </font> 
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1y-zndcohxPdw7RacPTjIL3uc0ONg9fRw" width="350" height="300"></iframe>



 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;TipTop คลีนฟู้ด Delivery ตอบโจทย์ของคนเมืองที่ต้องการกินคลีนฟู้ดแต่มีเวลาจำกัด คุณอรอุษา พุกจินดา (คุณนุ่น) ทำเองทุกกล่อง แต่ละกล่องคัดสรรวัตถุดิบมาเป็นอย่างดี ปรุงด้วยวัตถุดิบสด สะอาด ไร้สารเคมีผงชูรส ซุปก้อน โซเดียมต่ำ ไขมันน้อย จัดให้พร้อมข้าวไรซ์เบอร์รี่ และผักปลอดสารพิษ
เมนูอาหารในแต่ละเดือนจะสลับกันไป ยกตัวอย่างเช่น ข้าวน้ำพริกปลาทู ปลาทูย่างเราะเนื้อ ใส่พริกขี้หนูเล็กน้อย หอมแดง และกระเทียม ใส่น้ำซุปผัก รสชาติไม่เผ็ด เค็มเล็กน้อย กินกับไข่ต้ม และผักลวก ราดหน้าไก่ไร้เส้น ใส่ผักลวก ทั้งคะน้า ผักกาดขาว บรอกโคลี แคร์รอต พร้อมเนื้อไก่สีขาวนวล เหยาะเกลือและเต้าเจี้ยวเล็กน้อย ข้าวหน้าไก่ ไก่หั่นชิ้นพอคำน้ำขลุกขลิก หวานน้ำผัก กินพร้อมผักลวก ข้าวลาบไก่ ไก่รวนผสมเครื่องปรุงลาบรสชาติไม่จัด กินกับผักลวกย่อยง่าย ในราคากล่องละ 89 บาทเท่านั้น แถมยังมีโปรโมชั่นอีกด้วย





</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

        <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}