{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>Ariya Organic Place</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/AriyaOrganicCafe/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/AriyaOrganicCafe/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/AriyaOrganicCafe/">Ariya Organic Cafe&#039;</a></blockquote></div>
<br>
<br><font size = "4">
<br>ที่อยู่ : ถ.สาทรใต้ ทุ่งมหาเมฆ สาทร กรุงเทพฯ 10120
<br>โทรศัพท์ : 026777353                        
<br>เว็บไซต์ : http://www.ariya7.com
<br>เวลาเปิด/ปิด : เปิดทุกวัน เวลา 11.00 - 20.00 น.  
<br>ราคาต่อท่าน : 200-300 บาท
</font> 
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1okFsFiSB8m1LEwmKhjcq7LkMVGDn3DAw" width="350" height="300"></iframe>


 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;Ariya Organic Place ต้นตำรับอาหารมังสวิรัติ ร้านบรรยากาศสบายๆ ด้วยโทนสีขาว-เขียว ดูเป็นธรรมชาติ ตามคอนเซ็ปต์ "Good Food Good Mood" จุดเด่นของร้านนี้ คือการนำเสนอเมนู Raw Food ซึ่งก็คือ เมนูอาหารที่มีส่วนประกอบคือผักสดและเมนูอาหารเพื่อสุขภาพ นำมาปรุงโดยปราศจากความร้อน เหมาะสำหรับผู้ที่หลีกเลี่ยงอาหารประเภท แป้ง นม เนย นอกจากจะมีเมนูอาหารเพื่อสุขภาพไว้คอยบริการแล้ว ยังมีผลิตภัณฑ์ออแกนิกซ์วางจำหน่ายภายในร้านด้วย

<br>

<br>&emsp;&emsp;จุดเด่นของทางร้านอยู่ที่การใส่ใจรายละเอียด ทำให้แต่ละจานเปี่ยมไปด้วยคุณค่าสารอาหารครบถ้วน เมนูในร้านจะมีทั้งแบบ Raw Food คืออาหารที่ไม่ผ่านความร้อนหรือผ่านการปรุงน้อยที่สุดและไม่มีส่วนผสมของเนื้อสัตว์ แป้ง น้ำตาล กับอีกประเภทคือ Vegan Food หรืออาหารมังสวิรัติที่เรารู้จักกันดี รับรองได้ว่าเข้ามาร้านนี้ได้สุขภาพดีกลับไปแน่นอน เพราะทุกอย่าง Organic 100%

<br>

<br>&emsp;&emsp;เมนูแนะนำ “ข้าวบาร์เลย์ยำขาเห็ดหอม” ตัวน้ำยำรสชาติจัดจ้านคลุกเคล้ากับผักและผลไม้หั่นเต๋า เพิ่มโปรตีนด้วยขาเห็ดหอม เป็นเมนูเบาๆรสชาติลงตัวที่เรียกน้ำย่อยได้ดีเลยทีเดียว 




</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}