{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>DJ POOM MENU</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/DJPoomMenu/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/DJPoomMenu/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/DJPoomMenu/">DJ Poom Menu อาหารคลีนเพื่อสุขภาพ</a></blockquote></div>
<br>
<br><font size = "4">
<br>ที่อยู่  สำนักงานใหญ่ 52 ซอย อาคารพิบูลวัฒนา ถ.พระราม6 แขวงสามเสนใน เขตพญาไท กรุงเทพมหานคร (หมู่บ้านพิบูลวัฒนา (หลังกระทรวง )
<br>เวลาเปิด/ปิด  10:00–16:30
<br>โทรศัพท์  090-908-9000 
<br>ราคา  59-250 บาท
<br>เว็บไซต์ http://www.djpoommenu.com/th/index.html?1
 </font> 
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1_0cRQvLOBw0ZwT5Bs_4TrZp3dy7NqnGd" width="350" height="300"></iframe>



 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;เป็นอาหารเพื่อสุขภาพและการควบคุมน้ำหนักที่มีรสชาติอร่อยแบบไทยๆ รับประทานได้ทุกวัน ช่วยให้การลดน้ำหนักเป็นไปอย่างธรรมชาติและมีความสุข เมนูของเราผลิตขึ้นด้วยความตั้งใจให้ทุกท่านมีสุขภาพดี เราจึงใช้วัตถุดิบที่มีคุณภาพ ไม่ใช้วัตถุกันเสีย ไม่มีน้ำมัน และไม่ใส่ผงชูรส

<br>

<br>&emsp;&emsp;รสชาติอาหารที่ทำออกรสชาติดี ค่อนข้างเข้มข้น และจัดจ้าน ซึ่งสวนทางกับความคิดเดิมๆที่คิดว่าอาหารคลีนๆมักจะรสชาติจืดๆ ไม่ค่อยอร่อย แต่เมื่อทานอาหารของที่นี้ถึงกลับต้องเปลี่ยนความคิด ที่สำคัญอยู่ที่อาหารแต่ละเซ็ตให้แคลอรี่ที่ต่ำมากเมื่อเทียบกับปริมาณอาหารที่ได้รับเยอะมาก เพราะฉะนั้นไม่ต้องกลัวว่าจะไม่อิ่มนะคะราคาหากเทียบระหว่างราคา คุณภาพ และปริมาณที่ได้รับ ถือว่าค่อนข้างคุ้มค่ามากค่ะ แถมดีต่อร่างกายด้วย 

<br>

<br>&emsp;&emsp;ใครที่ต้องการทานอาหารคลีนดีต่อสุขภาพ หรือต้องการควบคุมน้ำหนักอยู่ล่ะก็ อาหารของร้านนี้น่าจะเป็นตัวเลือกให้คุณทานได้ไม่ยากนะ ที่สำคัญหากไม่ได้มาทานที่ร้าน เขาก็มีบริการจัดส่งให้ถึงที่ด้วย โดยสามารถเข้าไปดูในเว็บไซต์และเลือกอาหารที่ต้องการได้เลย 

</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

          <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}