{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>สวนผัก โอ้กะจู๋</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/ohkajhu" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/ohkajhu" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/ohkajhu">สวนผัก โอ้กะจู๋</a></blockquote></div>


<br>
<br><font size = "4">
<br>ที่อยู่: สยามสแควร์ ซอย 7 แขวงปทุมวัน ปทุมวัน กรุงเทพมหานคร 10330
<br>ร้านเปิดบริการ: ทุกวัน
<br>สนใจสอบถามรายละเอียดเพิ่มได้ที่: 063-093-8388
<br>www.ohkajhuorganic.com/
<br>
<br>

<iframe src="https://www.google.com/maps/d/embed?mid=1Ae03omjatYLhZVqnC_aVscMsrPb12_rS" width="350" height="300"></iframe>



 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;จากความตั้งใจของคุณ โจ้-จิรายุทธ ภูวพูนผล, อู๋-ชลากร เอกชัยพัฒนกุล และ ต้อง-วรเดช สุชัยบุญศิริ สามหนุ่มผู้ก่อตั้ง ‘โอ้กะจู๋’ ฟาร์มผักออร์แกนิคขึ้นชื่อของจังหวัดเชียงใหม่ที่ต้องการให้คนไทยได้หันมาทานผักปลอดสารพิษเพื่อดูแลสุขภาพกันมากขึ้น ทำให้วันนี้ ร้านอาหารของพวกเขาได้ขยายสาขามาแห่งที่ 3 ย่านสยามสแควร์ โดยยังคงคอนเซ็ปต์ ‘อาหารที่ปลูกด้วยความรัก สดจากฟาร์มส่งถึงคุณ’ เช่นเดิม เป็นการเปิดโอกาสให้คนกรุงเทพฯ ได้ทานอาหารออร์แกนิค โดยที่ไม่ต้องเดินทางไกลไปถึงเชียงใหม่

<br>





</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

         <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}