{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>Steps with Theera
</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/stepswiththeera/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/stepswiththeera/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/stepswiththeera/">Steps with Theera</a></blockquote></div>



<br>
<br>ตั้งอยู่ที่ 29/8 เอกมัยซอย 10 ซอย สุขุมวิท 63 ถนน สุขุมวิท (ใกล้แยก 4) คลองตันเหนือ , วัฒนา , กรุงเทพมหานคร 
<br>เบอร์ติดต่อ 02-381-6590, 086-582-1774
<br> เวลาเปิดบริการ ทุกวัน : 09:00 - 18:00
<br>Website : http://stepswiththeera.com/
 </font> 
<br>
<br>

<iframe src="https://www.google.com/maps/d/embed?mid=1Rz8w2PV3-lXzBfnHCkh_P8hSseJHgb20" width="350" height="300"></iframe>

 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">
<font face="TH SarabunPSK">
     <font size = "5">
<br>&emsp;&emsp;“ร้านเบเกอรีชื่อดังกับเมนูสไตล์สุขภาพ ส่วนอาหารของที่นี่มีเมนูเพื่อสุขภาพแบบ Comfort food มีทั้งอาหารเช้า ซุป สลัด main course และมีขนมเด็ด ๆ ด้วย ใครที่แพ้กลูเต็นก็หมดห่วงเพราะมีออพชันสำหรับคนที่เป็นมังสวิรัติและทานยากด้วยแหละ มาแล้วต้องลอง Pumpkin Burger เบอร์เกอร์ฟักทองผสมมันหวาน เพสโต และ feta cheese ตัวเบอร์เกอร์บันเป็นโฮลวีตหอมนุ่มสำหรับชาว vegetarian ขนมปังดีงามมากค่ะ” (โดยคุณ Stamp)

<br>




</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

          <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}