{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>FarmTimes at 46
</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/farmtimes46/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/farmtimes46/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/farmtimes46/">FarmTimes at 46</a></blockquote></div>
<br>
<br><font size = "4">
<br>ที่อยู่: 4-199 ซอย ลาดปลาเค้า 39 แขวง จรเข้บัว เขต ลาดพร้าว กรุงเทพมหานคร 10230
<br>เวลาเปิดร้าน: ทุกวัน 11:00 - 20:00
<br>สนใจสอบถามรายละเอียดเพิ่มได้ที่: 095-843-0749
 
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1BTWoUSKNQ503FDPpzK8xrHfs4NfTgyxf" width="350" height="300"></iframe>

 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;ร้าน Farmtimes @46 เป็นร้านที่พึ่งเปิดได้ไม่นานครับตัวร้านจะเป็นห้องแอร์เล็กๆอยู่ในสวนผัก organic เลย การเดินทางมาร้านถ้ามาจากแยกวังหินตรงมาออกเส้นเกษตร-นวมินทร์พอจะถึงแยกเลี้ยวซ้ายที่ซอยประเสริฐมนูญกิจ 8 (ซอยเล็กหาโครตยาก 555) เข้ามาเรื่อยๆร้านจะอยู่ใกล้ๆโรงแรมสัตว์เลี้ยวเข้ามาจอดหน้าร้านได้ครับ ช่วงนี้ที่ร้านจะมีโปรโมชั่นคือสั่งเกิน 500฿ จะแถม spaghetti carbonara หรือ spaghetti เบคอนพริกแห้ง หรือ สลัดกุ้งย่างหนึ่งจานครับ และถ้าแชร์ร้านในเฟสบุคจะได้น้ำกระเจี๊ยบหรือน้ำตะไคร้ใบเตยฟรีท่านละแก้วครับ •พัฟผักโขมและเบคอนอบชีส 175฿ ตัวพัฟขนาดกำลังดีบางๆกรอบบริเวณแป้ง ไส้ใส่ผักโขมกับชีสพอดีๆไม่เลี่ยนจนเกินไปจะกินเปล่าๆหรือกินกับพิงค์ซอสที่มาด้วยกันก็อร่อยดีครับตัวซอสจะออกเปรี้ยวๆแก้เลี่ยนได้ดีครับ •พล่าหมูย่าง 195฿ หมูนุ่มดี รสชาติพล่าใช้ได้ไม่เผ็ดเท่าไหร่กินได้เรื่อยๆ •สเต็กหมูพอร์คชอป 280฿ หมูชิ้นใหญ่เนื้อนุ่มดีครับมีความเป็นเนื้อมากกว่ามัน น้ำเกรวี่เข้ากับหมูดี โดยรวมใช้ได้ครับ •spaghetti carbonara 120฿(ได้ฟรี) เส้นนุ่มลื่น รสชาติออกจะจืดไปนิดนึงสำหรับผมอยากให้ซอสและความเข้มข้นมากกว่านี้หน่อย แต่โดยรวมก็ถือว่าใช้ได้นะครับ โดยรวมก็ถือว่าเป็นร้านสำหรับคนชอบผัก organic และคนชอบพอร์คช๊อป สเต็ก สปาเกตตี้ ก็เป็นทางเลือกที่ใช้ได้ครับ






</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

          <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}