{% extends 'layout/base.twig' %}

{% block stylesheet %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
  
{% endblock %}

{% block content %}

  <main>  

      <font face="TH SarabunPSK">
        <div class="has-text-centered">
        <font size = "6"><b>Farm Factory</b></font></div>

<div class="column left" style="background-color:#ffffff;">
<div class="text-center">

  <br><div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/th_TH/sdk.js#xfbml=1&version=v2.11';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="fb-page" data-href="https://www.facebook.com/farmfactorythailand/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/farmfactorythailand/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/farmfactorythailand/">farmfactory</a></blockquote></div>
<br>
<br><font size = "4">
<br>ตั้งอยู่ที่ ถนน สีลม (ร้านอยู่ชั้น 2 อาคารสีลมคอมเพล็กซ์ ข้าง ๆ ร้าน Muji ตรงทางออกรถไฟฟ้าศาลาแดง) สีลม , บางรัก , กรุงเทพมหานคร 
<br>เบอร์ติดต่อ 063-215-1015 
<br>เวลาเปิดบริการ จันทร์ - ศุกร์ : 10:30 - 21:00, เสาร์, อาทิตย์ : 10:00 - 21:00  </font> 
<br>
<br>
<iframe src="https://www.google.com/maps/d/embed?mid=1wp-BsDPb-fcwxPwhMcd1PpAW1XTN2DCu" width="350" height="300"></iframe>


 

</div>
</div>

  <div class="column middle" style="background-color:#ffffff;">

     <font size = "5">
<br>&emsp;&emsp;“อาหารสำหรับคนใส่ใจสุขภาพ ทานอาหารคลีน ๆ แนะนำร้านนี้เลยคะ ครั้งแรกที่เห็นราคาร้านนี้ถึงกับพงะเหมือนกัน แต่พอได้ลิ้มลองร้านนี้กลับกลายเป็นร้านแรก ๆ ที่คิดถึงวันทานมังสวิรัติ, วันอยากลดหุ่น และวันอยากรักษาสุขภาพ โดยจุดเด่นของที่ร้านคือมีเมนูสลัดผัก ถึง 10 เมนูพร้อมน้ำสลัดที่ทางร้านแนะนำใส่เข้ากัน เรา “Super Food detox” ชอบน้ำสลัดมะนาวที่ออกเเนวสดชื่น” (โดยคุณ pouy)






</div>


 </font>    
 
  


<font face="TH SarabunPSK">
  <div class="column right" style="background-color:#ffffff;">

   
  <div class="column right" style="background-color:#ffffff;">
         <div class="sidenav">
           <h1><b> Recipe key</b></h1>
           <h4><a href="r-1"><b>คลองตัน</b></b></a>
           <a href="r-2"><b>ดินแดง</b></a>
           <a href="r-3"><b>ทุ่งมหาเเมฆ</b></a>
           <a href="r-4"><b>ปทุมวัน</b></a>
         <a href="r-5"><b>ลาดพร้าว</b></a>
       <a href="r-6"><b>สามเสน</b></a>
     <a href="r-7"><b>สีลม</b></a>
  
</h4>

         </div>
       </div>
      
</div>

<div class="clearfix"></div>


<button onclick="topFunction()" id="myBtn" title="Go to top">TOP</button>
<script>

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        document.getElementById("myBtn").style.display = "block";
    } else {
        document.getElementById("myBtn").style.display = "none";
    }
}


function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>



<br><br><br><br><br><br>


</main>


{% endblock %}